[data-palladio-list-view] {
	margin-bottom: 90px;
}

[data-palladio-list-view] ul {
	padding: 0;
	margin: 0;
}

[data-palladio-list-view] #list-display {
	margin: 1em;
}

[data-palladio-list-view] .list-box {
	list-style-type: none;
	float: left;
	width: 250px;
	height: 140px;
	background-color: #dddddd;
	margin: 5px;
	padding: 5px;
}

[data-palladio-list-view] .list-title {
	font-weight: 600;
	margin: 0.4em 0.2em;
	font-size: 13px;
}

[data-palladio-list-view] .list-image {
	height: 130px;
	width: 100px;
	float: left;
	margin: 5px;
	background-size: cover;
	background-position: top center;
	border: none;
	margin-right: 10px;
	background-repeat: no-repeat;
}

[data-palladio-list-view] .list-subtitle {
	font-weight: 400;
	color: #525252;
	font-size: 12px;
	line-height: normal;
}

[data-palladio-list-view] .list-text {
	font-size: 11px;
}

[data-palladio-list-view] .list-link {
	text-decoration: none;
	color: black;
}

[data-palladio-list-view] .list-box:hover {
	background-color: #d0d0d0;
}
