[data-palladio-list-view] {
	margin-bottom: 20px;
	margin-top: 20px;
}

[data-palladio-list-view] .list-title {
	font-size: 14px;
}

[data-palladio-list-view] .list-image {
	height: 130px;
	width: 100px;
	float: left;
	background-size: cover;
	background-position: top center;
	border: none;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-color: #eee;
	color: #bbb;
	font-size: 12px;

	padding: 20px;
	text-align: center;

	/* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;

	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;

	/* Safari, Opera, and Chrome */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;

}


[data-palladio-list-view] .list-subtitle {
	color: #888;
	font-size: 12px;
}

[data-palladio-list-view] .list-text {
	font-size: 12px;
}

[data-palladio-list-view] .list-link {
	text-decoration: none;
	color: black;
}


[data-palladio-list-view] .list-box {
	height: 150px;
	padding: 10px;
	background: #fafafa;
	margin-bottom: 15px;

}

[data-palladio-list-view] .list-box:hover {
	background-color: #fff;
}
