<div class="container-fluid">

  <div data-palladio-list-view
    list-dimension="id"
    max-to-display="1000"
    img-url-accessor="imgurlAccessor"
    title-accessor="titleAccessor"
    subtitle-accessor="subtitleAccessor"
    text-accessor="textAccessor"
    link-accessor="linkAccessor"
    sort-options="sortOptions"></div>

</div>

<!-- Settings -->
<div class="row">

    <div class="settings col-lg-4 col-lg-offset-8 col-md-6 col-md-offset-6">
      <div class="panel panel-default">

        <a class="settings-toggle" data-toggle="tooltip" data-original-title="Settings" data-placement="bottom">
          <i class="fa fa-bars"></i>
        </a>

        <div class="panel-body">

          <div class="row">
            <div class="col-lg-12">
              <label>Settings</label>
            </div>
          </div>

          <div class="row margin-top">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
              <label class="inline">Title</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-condensed">
              <span class="btn btn-default" ng-click="showTitleModal()">
                  {{titleDim.description || "Choose"}}
                  <span class="caret"></span>
              </span>
            </div>
          </div>

          <div class="row margin-top">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
              <label class="inline">Subtitle</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-condensed">
              <span class="btn btn-default" ng-click="showSubtitleModal()">
                  {{subtitleDim.description || "Choose"}}
                  <span class="caret"></span>
              </span>
            </div>
          </div>

          <div class="row margin-top">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
              <label class="inline">Text</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-condensed">
              <span class="btn btn-default" ng-click="showTextModal()">
                  {{textDim.description || "Choose"}}
                  <span class="caret"></span>
              </span>
            </div>
          </div>

          <div class="row margin-top">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
              <label class="inline">Link</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-condensed">
              <span class="btn btn-default" ng-click="showLinkModal()">
                  {{linkDim.description || "Choose"}}
                  <span class="caret"></span>
              </span>
            </div>
          </div>

          <div class="row margin-top">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
              <label class="inline">Image URL</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-condensed">
              <span class="btn btn-default" ng-click="showImgURLModal()">
                  {{imgurlDim.description || "Choose"}}
                  <span class="caret"></span>
              </span>
            </div>
          </div>

          <div class="row margin-top">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
              <label class="inline">Sort by</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-condensed">
              <span class="btn btn-default" ng-click="showSortModal()">
                  {{sortDim.description || "Choose"}}
                  <span class="caret"></span>
              </span>
            </div>
          </div>

        </div>

      </div>
    </div>

</div>

<div id="title-modal" data-modal description="Choose title" dimensions="fields" model="titleDim"></div>
<div id="subtitle-modal" data-modal description="Choose sub-title" dimensions="fields" model="subtitleDim"></div>
<div id="text-modal" data-modal description="Choose text" dimensions="fields" model="textDim"></div>
<div id="link-modal" data-modal description="Choose link (URL to launch on click)" dimensions="urlDims" model="linkDim"></div>
<div id="imgurl-modal" data-modal description="Choose image (URL of image)" dimensions="urlDims" model="imgurlDim"></div>
<div id="sort-modal" data-modal description="Choose sort order dimension" dimensions="fields" model="sortDim"></div>
