<div class="container" data-ng-show="!files.length">

			<div class="row padding-top margin-top">

				<div class="col-lg-3 col-md-4">
					<ul class="list-unstyled sidenav" data-ng-init="sidenav='create'">
						<li data-ng-click="sidenav='create'" data-ng-class="{active:sidenav=='create'}">Create a new project</li>
						<li data-ng-click="sidenav='load'" data-ng-class="{active:sidenav=='load'}">Load an existing project</li>
						<li data-ng-click="loadSample()">Try with sample data</li>
					</ul>

				</div>
				<div class="col-lg-9 col-md-8">

					<div class="row">

						<div class="col-lg-12" data-ng-show="sidenav=='load'">
							<div class="panel panel-default">
							<div class="panel-body">

								<p>If you already have a Palladio project file (.json) you can load one from your computer or a URL.</p>

								<div class="margin-bottom margin-top">
									<p class="title">Upload from your computer</p>
									<p class="">You can load an existing Palladio project by selecting the file from your computer.</p>
									<div palladio-data-upload on-load="onLoad()">Choose a file</div>
								</div>

								<div class="margin-top padding-top">
									<p class="title">Load a remote Palladio file</p>
									<p class="">You can enter the URL of an existing Palladio project file. Please make sure that the server is <a href="http://enable-cors.org/">CORS-enabled</a>.</p>
									<input class="form-control margin-bottom" placeholder="http://www.example.org/file.json" type="text" ng-model="loadFileUrl"></input>
									<div class="alert alert-warning" ng-show="loadError">{{loadError}}</div>
									<a class="btn btn-default" ng-click="loadFile(loadFileUrl)">Load</a>
								</div>

							</div>
							</div>

						</div>


						<div class="col-lg-12" data-ng-show="sidenav=='create'">

							<div class="panel panel-default">

								<div class="panel-body">

									<div class="row">

										<div class="col-lg-12">
											<p>Create a new Palladio project by uploading your data from a spreadsheet or flat-file, or load data from a SPARQL endpoint. <a target="_blank" href="http://hdlab.stanford.edu/palladio">Not sure how Palladio works?</a></p>
										</div>

										<div class="col-lg-12 margin-top">
											<p class="title">Load .csv or spreadsheet</p>
											<p>Copy and paste out of your spreadsheets, drag-and-drop to upload tabular data (e.g. .csv, .tab, .tsv), or link to a file in a public Dropbox folder to create a new Palladio project. <a target="_blank" href="http://hdlab.stanford.edu/palladio">Not sure how to structure your data?</a></p>
											<textarea ui-codemirror="{ mode : 'text',  lineNumbers : true, lineWrapping: true, onDrop : onDrop }" placeholder="Paste your data or drop a file here" ng-model="text"></textarea>
											<div class="alert alert-warning" ng-show="parseError">{{parseError}}</div>
											<a class="btn btn-default" ng-click="parseExtendTable()" ng-disabled="!text">Load</a>
										</div>

										<div class="col-lg-12 margin-top">
											<div class="well">
												<span class="small"><strong>More than one table? No problem!</strong> If you have more than one table, start by uploading your primary table. The primary table should contain the main entities you want to visualize. It could be a collection of objects, like persons or letters, or more abstract concepts, like relationships or flows. Once you have uploaded your primary table, you will be able to extend it with additional information from other tables.</span>
											</div>
										</div>

										<div class="col-lg-12">

											<p class="" data-ng-show="!showSPARQL"><a data-ng-click="showSPARQL=true">Load data from a SPARQL endpoint (beta)</a></p>

											<div data-ng-show="showSPARQL" class="margin-top padding-top">
												<p><strong>SPARQL endpoint (beta)</strong></p>
												<p>You can load data from a SPARQL endpoint by providing both the endpoint URL and a valid SPARQL query. After you run the SPARQL query you will have the opportunity to validate your data and re-run the query if necessary before loading the data into Palladio.</p>
												<yasgui data="text" endpoint="sparqlEndpoint"></yasgui>
												<div class="">
													<button class="btn btn-default" ng-click="parseExtendTable()" ng-show="text">Load data</button>
												</div>
												<div class="alert alert-warning" ng-show="parseError">{{parseError}}</div>
											</div>



										</div>

									</div>
								</div>

							</div>

				</div>


			</div>


		</div>

	</div>
</div>

<div class="container-fluid" data-ng-show="files.length">

	<div class="row padding-top margin-bottom">

		<div class="col-lg-12">
			<input class="form-control editable" type="text" placeholder="Provide a title to this project" ng-model="project.title"></input>
			<p class="" ng-show="!showDetails"><a class="small text-muted" ng-click="showDetails=true" ng-init="showDetails=false">Show details</a></p>
			<p class="" ng-show="showDetails"><a class="small text-muted" ng-click="showDetails=false">Hide details</a></p>
		</div>

	</div>

	<div class="row files">

		<div class="col-lg-3 col-md-4 margin-bottom" ng-show="showDetails" style="border-right: 1px solid #ddd">

			<div>
				<label>Author(s)</label>
				<input class="form-control" type="text" placeholder="Author" ng-model="project.author"></input>
			</div>

			<div class="margin-top">
				<label>Date</label>
				<input class="form-control" type="text" placeholder="Date" ng-model="project.date"></input>
			</div>

			<div class="margin-top">
				<label>Description</label>
				<textarea class="resize-vertical form-control" rows="10" placeholder="Provide a description for this project (e.g. description of the data, ...)" ng-model="project.description"></textarea>
			</div>

		</div>

			<!-- Each file -->
			<div
				file
				data-ng-repeat="file in files"
				data-ng-class="{primary:$index==0}"
				class="file col-lg-3 col-md-4 col-sm-6">

				<div class="panel panel-default">
					<!-- File Header -->
					<div class="panel-heading">

						<input
							tooltip-animation="false"
							tooltip-append-to-body="true"
							tooltip="Rename"
							data-container="body"
							data-placement="top"
							type="text"
							class="form-control editable"
							ng-model="file.label"
							placeholder="Untitled">
						</input>

						<div class="margin-top">
							<span ng-show="$index==0" class="pull-left text-muted">Primary table</span>
							<span ng-show="file.url" class="pull-left text-muted margin-left"
								data-container="body"
								tooltip="Originally from: {{file.url}} &ndash; {{file.loadFromURL ? 'Will load from this URL again after saving' : 'Data will be saved in Palladio format and not loaded from this URL after saving'}}"
								tooltip-animation="false"
								tooltip-append-to-body="true"
								data-ng-click="file.loadFromURL = !file.loadFromURL">

								<i class="fa"
									ng-class="{ 'fa-chain' : file.loadFromURL, 'fa-chain-broken' : !file.loadFromURL }">
								</i>
							</span>
							<span class="text-muted pull-right">{{file.data.length}} rows</span>
							<span class="clearfix"></span>
						</div>

					</div>

					<!-- SOOOOO BAD -->
					<div class="fieldview-container"><!-- ng-style="myStyle={'height':file.fields.length*38}">-->

						<!-- Deafult view list -->
						<div class="field-view field-view-list"> <!-- pt-page pt-page-current">-->

							<ul class="list-group">

								<li
									class="field list-group-item bg-danger control-hover"
									ng-class="{muted:field.delete}"
									ng-repeat="field in file.fields"
									>

									<span class="control">

										<i
											class="fa fa-eye"
											tooltip-animation="false"
											tooltip-append-to-body="true"
											tooltip="Disable"
											data-container="body"
											data-ng-click="toggleDelete(field)"
											ng-hide="field.delete || hasLinks(field).lookup.file || isLinked(field)"></i>
									<!--											ng-hide="field.delete || hasLinks(field).lookup.file || !field.confirmed && field.unassignedSpecialChars.length > 0 && !hasLinks(field).lookup.file"></i> -->

										<i
											class="fa fa-eye-slash"
											tooltip-animation="false"
											tooltip-append-to-body="true"
											tooltip="Enable"
											data-container="body"
											data-ng-click="toggleDelete(field)" ng-show="field.delete && !hasLinks(field).lookup.file"></i>
									</span>




									<span class="field-description">
										<a class=""
											data-ng-class="{strong:field.uniqueKey}"
											data-toggle="modal"
											data-target="#myModal"
											data-ng-show="!field.delete"
											data-ng-click="setSelected(field,file)">{{field.description}}</a>
										<i class="fa fa-pencil field-edit"></i>
									</span>

									<span class="field-description" data-ng-show="field.delete" ng-class="{strong:field.uniqueKey}">{{field.description}}</span>

									<span class="pull-right">


										<span
											ng-show="!hasLinks(field).lookup.file && !field.errors.length"
											class="text-capitalize small text-muted"
											tooltip-animation="false"
											tooltip-append-to-body="true"
											tooltip="All the values match this type">{{field.type}}
										</span>

										<span
											ng-show="!hasLinks(field).lookup.file && field.errors.length"
											class="text-capitalize small text-danger"
											tooltip-animation="false"
											tooltip-append-to-body="true"
											tooltip="{{field.errors.length}} values do not match this type">{{field.type}}
										</span>




										<!--

										<button
											data-ng-show="!hasLinks(field).lookup.file && !field.errors.length"
											class="btn btn-xs btn-info show-hover">Extend
										</button>


										<button
											data-ng-show="!hasLinks(field).lookup.file && field.errors.length"
											data-toggle="modal"
											data-target="#myModal"
											data-ng-click="setSelected(field,file)"
											class="btn btn-xs btn-default show-hover">Review
										</button>-->

										<span
											tooltip-animation="false"
											tooltip-append-to-body="true"
											tooltip-html-unsafe="<b>{{hasLinks(field).metadata.matches}}</b> in <b>{{hasLinks(field).lookup.file.label}}</b> (via {{hasLinks(field).lookup.field.description}})"
											data-ng-show="hasLinks(field).lookup.file"
											ng-class="hasLinks(field).metadata.claz"
											class="text-muted small">{{hasLinks(field).metadata.matches}} {{hasLinks(field).lookup.file.label}}
										</span>






										<span class="control text-right">

									<!--		<i
												class="text-muted fa fa-eye-slash show-hover"
												tooltip-animation="false"
												tooltip-append-to-body="true"
												tooltip="Disable"
												data-container="body"
												data-ng-click="toggleDelete(field)"
												ng-hide="field.delete || hasLinks(field).lookup.file || isLinked(field)"></i>-->
	<!--											ng-hide="field.delete || hasLinks(field).lookup.file || !field.confirmed && field.unassignedSpecialChars.length > 0 && !hasLinks(field).lookup.file"></i> -->

											<i
												class="text-small text-danger fa fa-circle"
												tooltip-animation="false"
												tooltip-append-to-body="true"
												tooltip="Please review"
												data-container="body"
												data-toggle="modal"
												data-target="#myModal"
												data-ng-click="setSelected(field,file)"
												ng-show="!field.delete && !hasLinks(field).lookup.file && field.unassignedSpecialChars.length > 0 && field.unassignedSpecialChars.length !== field.verifiedSpecialChars.length && !isLinked(field) || field.errors.length && !isLinked(field)"></i>

											<i
												class="text-small fa fa-circle"
												tooltip-animation="false"
												tooltip-append-to-body="true"
												tooltip="Verified"
												data-container="body"
												data-toggle="modal"
												data-target="#myModal"
												data-ng-click="setSelected(field,file)"
												ng-show="!field.delete && !hasLinks(field).lookup.file && field.unassignedSpecialChars.length > 0 && field.unassignedSpecialChars.length === field.verifiedSpecialChars.length && !isLinked(field) && !(field.errors.length && !isLinked(field))"></i>

											<i
												class="fa fa-arrow-circle-right"
												ng-show="hasLinks(field).lookup.file"
												tooltip-animation="false"
												tooltip-append-to-body="true"
												data-toggle="modal"
												data-target="#myModal"
												data-ng-click="setSelected(field,file)"
												ng-class="hasLinks(field).metadata.claz"
												tooltip-html-unsafe="<b>{{hasLinks(field).metadata.matches}}</b> in <b>{{hasLinks(field).lookup.file.label}}</b> (via {{hasLinks(field).lookup.field.description}})"></i>


											<i
												class="fa fa-arrow-circle-left"
												ng-show="isLinked(field) && file.id != 0"
												tooltip-animation="false"
												tooltip-append-to-body="true"
												data-toggle="modal"
												data-target="#myModal"
												data-ng-click="setSelected(field,file)"
												tooltip-html-unsafe="This dimension has some links"></i>

										</span>



									</span>

									<span class="clearfix"></span>


								</li>
								<!-- Button trigger modal -->
							</ul>

						</div>

						<div class="field-view field-view-fingerprint pt-page">

						<ul class="list-group">

							<li
								class="field list-group-item bg-danger"
								ng-class="{muted:field.delete}"
								ng-repeat="field in file.fields"
								>

								<span class="field-description">
									<a ng-class="{strong:field.uniqueKey}"
										data-toggle="modal"
										data-target="#myModal"
										data-ng-show="!field.delete"
										data-ng-click="setSelected(field,file)">{{field.description}}</a>
										<i class="fa fa-pencil field-edit"></i>
								</span>

								<span data-ng-show="field.delete" class="margin-left" ng-class="{strong:field.uniqueKey}">{{field.description}}</span>

							</li>
							<!-- Button trigger modal -->
						</ul>

						</div>


						<div class="field-view field-view-overview pt-page">
							<span>
								<a ng-class="{strong:field.uniqueKey}"
									data-toggle="modal"
									data-target="#myModal"
									data-ng-show="!field.delete"
									data-ng-click="setSelected(field,file)">{{field.description}}</a>
									<i class="fa fa-pencil field-edit"></i>
							</span>
						</div>



					</div>

					<div class="panel-footer dark">



						<span
							class="pointer"
							tooltip-animation="false"
							tooltip-append-to-body="true"
							tooltip="Download as .csv"
							tooltip-placement="right"
							data-ng-click="downloadFile(file)">
								<i class="fa fa-download"></i>
						</span>

						<span
							class="pointer pull-right text-danger"
							tooltip-animation="false"
							tooltip-append-to-body="true"
							tooltip="Delete table"
							tooltip-placement="left"
							data-ng-click="deleteFile(file.uniqueId)">
								<i class="fa fa-trash-o"></i>
						</span>
					</div>

				</div>

			</div>


		</div>

		</div>
