<div class="container-fluid">

	<div class="row">
		<div class="col-lg-12">

			<div class="row padding-top" data-ng-show="!files.length">

				<div class="col-lg-3 col-md-4">
					<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Load an existing project</h4>
					</div>
					<div class="panel-body">
						<p class="">You can load an existing Palladio project by selecting the file (.json format) from your computer.</p>
						<div palladio-data-upload on-load="onLoad()">Upload a Palladio file</div>
					</div>
					</div>
				</div>

				<div class="col-lg-9 col-md-8">
					<div class="panel panel-default">

						<div class="panel-heading">
							<h4>Create a new project</h4>
						</div>

						<div class="panel-body">

							<div class="row">

								<div class="col-lg-4">
									<p>Create a new Palladio project by uploading your data from a spreadsheet or flat-file, or load data from a SPARQL endpoint.</p>
									<p><strong>More than one table? No problem!</strong></p>
									<p>If you have more than one table, start by uploading your primary table. The primary table should contain the main entities you want to visualize. It could be a collection of objects, like persons or letters, or more abstract concepts, like relationships or flows. Once you have uploaded your primary table, you will be able to extend it with additional information from other tables.</p>
									<p>Not sure how Palladio works? <a target="_blank" href="http://hdlab.stanford.edu/lab-notebook/palladio/2014/11/18/palladio-faqs-0-8-0">Click here to know more.</a></p>
								</div>

								<div class="col-lg-8">
									<strong>Load .csv or spreadsheet</strong>
									<p>Copy and paste out of your spreadsheets, drag-and-drop to upload tabular data (e.g. .csv, .tab, .tsv), or link to a public Google spreadsheet to create a new Palladio project. Not sure how to structure your data? <a target="_blank" href="http://hdlab.stanford.edu/lab-notebook/palladio/2014/11/18/palladio-faqs-0-8-0/#2">Click here for more information.</a></p>
									<textarea ui-codemirror="{ mode : 'text',  lineNumbers : true, lineWrapping: true, onDrop : onDrop }" placeholder="Paste your data or drop a file here" ng-model="text"></textarea>
									<div class="alert alert-warning" ng-show="parseError"><i class="fa fa-bell margin-right"></i> {{parseError}}</div>
									<a class="btn btn-default" ng-click="parseExtendTable()" ng-disabled="!text">Load</a>
									<div class="clearfix"></div>
									<p class="margin-top pull-right small" data-ng-show="!showSPARQL"><a data-ng-click="showSPARQL=true">Load data from a SPARQL endpoint (beta).</a></p>
									<div data-ng-show="showSPARQL" class="margin-top padding-top">
										<strong>SPARQL endpoint (beta)</strong>
										<p>You can load data from a SPARQL endpoint by providing both the endpoint URL and a valid SPARQL query. After you run the SPARQL query you will have the opportunity to validate your data and re-run the query if necessary before loading the data into Palladio.</p>
										<yasgui data="text" endpoint="sparqlEndpoint"></yasgui>
										<div class="">
											<button class="btn btn-default" ng-click="parseExtendTable()" ng-show="text">Load data</button>
										</div>
										<div class="alert alert-warning" ng-show="parseError">{{parseError}}</div>
									</div>



								</div>

							</div>

							<!--
							<div class="margin-top">
								<strong>SPARQL (beta)</strong>
								<p>You can load data from a SPARQL endpoint by providing both the endpoint URL and a valid SPARQL query. After you run the SPARQL query you will have the opportunity to validate your data and re-run the query if necessary before loading the data into Palladio.</p>
								<yasgui data="text" endpoint="sparqlEndpoint"></yasgui>
								<div class="">
									<button class="btn btn-default" ng-click="parseExtendTable()" ng-show="text">Load data</button>
								</div>
								<div class="alert alert-warning" ng-show="parseError">{{parseError}}</div>
							</div>-->
						</div>

					</div>
				</div>

			</div>



		<!-- Files -->
		<div class="row padding-top files" data-ng-show="files.length">
			<!-- Each file -->
			<div
				data-ng-repeat="file in files"
				data-ng-class="{primary:$index==0}"
				class="file col-lg-3 col-md-4 col-sm-6">

				<div class="panel panel-default">
					<!-- File Header -->
					<div class="panel-heading">
						<input
							data-toggle="tooltip"
							data-original-title="Rename"
							data-placement="top"
							type="text"
							class="form-control editable"
							ng-model="file.label"
							placeholder="Untitled">
						</input>
					</div>
					<!-- File Body -->
					<div class="panel-body">

						<!--<span class="label label-success" ng-show="$index==0">Primary table</span>
						<span class="label label-default" ng-show="$index!=0">Secondary table</span>-->


						<span class="small"><strong>{{file.data.length}}</strong> rows</span>



						<span class="pull-right">
							<span ng-show="$index==0" class="text-uppercase small-caps text-white">primary table</span>
						</span>


					</div>

					<ul class="list-group">

						<li
							class="field list-group-item bg-danger"
							ng-class="{muted:field.delete}"
							ng-repeat="field in file.fields"
							>

							<span class="control">
								<i
									class="text-muted fa fa-check"
									data-toggle="tooltip"
									data-original-title="Click to disable"
									data-ng-click="toggleDelete(field)"
									ng-hide="field.delete || hasLinks(field).lookup.file || !field.confirmed && field.unassignedSpecialChars.length > 0 && !hasLinks(field).lookup.file && !field.errors.length"></i>

								<i
									class="text-muted fa fa-exclamation"
									data-toggle="tooltip"
									data-original-title="Some"
									data-ng-click="toggleDelete(field)" ng-show="!field.delete && !hasLinks(field).lookup.file && !field.confirmed && field.unassignedSpecialChars.length > 0 && !hasLinks(field).lookup.file && !field.errors.length"></i>

								<i
									class="text-muted fa fa-eye-slash"
									data-toggle="tooltip"
									data-original-title="Click to enable"
									data-ng-click="toggleDelete(field)" ng-show="field.delete && !hasLinks(field).lookup.file"></i>

								<i
									class="fa {{hasLinks(field).metadata.class}} text-success"
									ng-show="hasLinks(field).lookup.file"
									ng-class="{'fa-arrow-right':file.id==0, 'fa-arrow-left':file.id!=0}"></i>

							</span>

							<span class="field-description">
							<a class="margin-left" ng-class="{strong:field.uniqueKey}"
								data-toggle="modal"
								data-target="#myModal"
								data-ng-show="!field.delete"
								data-ng-click="setSelected(field,file)">{{field.description}}</a>
								<i class="fa fa-pencil field-edit"></i>
							</span>

							<span data-ng-show="field.delete" class="margin-left" ng-class="{strong:field.uniqueKey}">{{field.description}}</span>

							<span class="pull-right">

								<span ng-hide="hasLinks(field).lookup.file" class="small-caps" ng-class="{'text-muted':!field.errors.length, 'text-danger':field.errors.length}">{{field.type}}</span>

								<span
									data-toggle="tooltip"
									data-html="true"
									data-original-title="<b>{{hasLinks(field).metadata.matches}}</b> in <b>{{hasLinks(field).lookup.file.label}}</b> (via {{hasLinks(field).lookup.field.description}})"
									ng-show="hasLinks(field).lookup.file"
									class="pointer small-caps text-success">{{hasLinks(field).metadata.matches}} {{hasLinks(field).lookup.file.label}}
								</span>
							</span>


						</li>
						<!-- Button trigger modal -->
					</ul>

					<div class="panel-footer dark">



						<a
							class=""
							data-toggle="tooltip"
							data-original-title="Download this table"
							data-ng-click="downloadFile(file)">
								<i class="fa fa-download"></i>
						</a>

						<a
							class="pull-right text-danger"
							data-toggle="tooltip"
							data-original-title="Delete this table"
							data-ng-click="deleteFile(file.uniqueId)">
								<i class="fa fa-trash-o"></i>
						</a>
					</div>

				</div>

			</div>


		</div>

		</div>
	</div>
</div>
