<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
				<input
					data-toggle="tooltip"
					data-original-title="Rename"
					data-ng-change="setDirty()"
					type="text"
					class="editable form-control"
					data-ng-model="selectedFieldMetadata.description" placeholder="Untitled"></input>
			</div>
			<!-- Modal Body -->
			<div class="modal-body">

				<div class="row">

					<!-- Left column -->
					<div class="col-lg-8">
						<!-- Data type -->
						<div class="row margin-bottom">
							<div class="col-lg-12">
								<label>Data type</label>
								<select
									bs-select
									class="form-control"
									data-ng-model="selectedFieldMetadata.type"
									data-ng-options="t.id as t.name for t in allowedTypes" id="type"
									data-ng-change="updateMetadata()">
								</select>
								<p class="help-block" data-ng-show="selectedFieldMetadata.errors.length">{{selectedFieldMetadata.errors.length}} unique values do not match this data type! <a data-ng-click="downloadErrors()">Download the list of errors.</a></p>
								<p class="help-block" data-ng-hide="selectedFieldMetadata.errors.length">All the values match this type.</p>
							</div>
						</div>
						<!-- Unique values -->
						<div class="row">
							<div class="col-lg-12">
								<!-- Search -->
								<div class="row margin-bottom">
									<div class="col-lg-6 col-md-6 col-sm-6">
										<input type="text" class="form-control" ng-model="searchUnique" placeholder="Search"></input>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="pull-right">
											<select
												class="form-control"
												bs-select
												data-ng-model="sortBy"
												data-ng-options="t as t.label for t in sortOptions" id="sortBy"
												data-ng-change="updateMetadata()">
											</select>
										</div>
									</div>
								</div>

								<div class="unique-values margin-bottom">
									<table
										class="table table-striped"
										data-ng-show="!filtered || (filtered && filtered.length > 0)">
										<tr data-ng-repeat="val in filtered = (selectedFieldMetadata.uniques | filter:searchUnique) | limitTo:1000">
												<td
													data-ng-class="{ 'text-danger': findError(val.key) }"
													title="{{findError(val.key).message}}"
													data-ng-bind-html="displayVal(val)">
											</td>
										</tr>
									</table>
									<div class="padding-all text-danger bg-danger" data-ng-show="filtered && filtered.length == 0">No values found.</div>
								</div>
								<p><strong>{{filtered.length}}</strong> values displayed. <a data-ng-click="downloadUniques(searchUnique)" class="" data-ng-hide="filtered && filtered.length == 0">Download</a></p>

								<div>
									<label>Extention</label>
								</div>


							</div>
						</div>

					</div>


					<!-- Right column -->
					<div class="col-lg-4">
						<label>Special characters</label>
					</div>


				</div>



			</div>
			<!-- Modal Footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
