<div class="container">
	<div class="step">
		<div class="header text-center">
			<h1 class="title">Palladio<span class="muted small"> (beta)</span></h1> 
		</div>

		<div class="text-center">
			<p class="lead">Palladio is a data visualization platform developed at <a href="http://hdlab.stanford.edu">Humanities+Design</a>,<br/>a research lab within the <a href="http://cesta.stanford.edu">Center for Spatial and Textual Analysis (CESTA)</a> at <a href="http://www.stanford.edu">Stanford University</a>.</p>
			<p class="small">New to Palladio? <a href="http://humanitiesplusdesign.github.io/palladio-beta" class="super">Read the documentation</a> or watch the <a href="http://humanitiesplusdesign.github.io/palladio-beta" class="super">demonstration videos.</a></p>
			<p><br/></p>	
			<p class="small"><a href="#/upload" class="btn" data-ng-click="clearFiles()">Get started</a> or play with a sample data set <a href="#/upload" class="btn" data-ng-click="loadTheatersSample()">Sample Data 1</a> <a href="#/upload" class="btn" data-ng-click="loadFakeSample()">Sample Data 2</a></p>
			

			<p class="muted logo-wrapper">
				<img class="logo" src="img/neh_logo.png" /><br/>
				<span>Palladio is part of the <b>Networks in History</b> project, funded by the <a href="http://www.neh.gov/divisions/odh">Office of Digital Humanities</a> at the <a href="http://www.neh.gov">National Endowment for the Humanities</a>.</span>
			</p>

		</div>
	</div>
</div>