<div id="visualization">
  <div class="row-fluid" data-ng-show="layout==='geo'">
    <div class="with-settings" data-palladio-map-view-with-settings></div>
  </div>
  <div class="row-fluid" data-ng-show="layout==='time'">
    <div class="with-settings" data-palladio-timechart-view-with-settings></div>
  </div>
  <div class="row-fluid" data-ng-show="layout==='graph'">
    <div class="with-settings" data-palladio-graph-view-with-settings></div>
  </div>
  <div class="row-fluid" data-ng-show="layout==='table'">
    <div style="position: absolute; right: 40px; top:10px; z-index:20" data-palladio-download-widget></div>
    <div class="with-settings" data-palladio-table-view-with-settings></div>
  </div>
  <div class="row-fluid" data-ng-show="layout==='grid'">
    <div style="position: absolute; right: 40px; top:10px; z-index:20" data-palladio-download-widget></div>
    <div class="with-settings" data-palladio-list-view-with-settings></div>
  </div>
</div>
<div id="footer" data-ng-show="showFilters()">
                <div class="">
                    <div id="filters-wrapper" class="">
                        <div class="row-fluid filters-header">
                            <a style="line-height:30px" data-ng-click="expandedFilters = !expandedFilters" data-ng-init="expandedFilters = true" class="pull-left">
                                <span data-ng-show="expandedFilters"><i class="fa fa-angle-down text-center" style="width:10px"></i></span>
                                <span data-ng-show="!expandedFilters"><i class="fa fa-angle-right text-center" style="width:10px"></i></span>
                            </a>

                            <div class="row-fluid" style="padding: 0px 10px 0px 20px;">
                                <a class="view-link selected alert alert-info" data-ng-click="addFilter('timeline')" data-ng-class="{selected: filter.indexOf('timeline') !== -1, blur: blurTimeline}"><i class="fa fa-plus"></i> Timeline</a>
                                <a class="view-link selected alert alert-info" data-ng-click="addFilter('facet')" data-ng-class="{selected: filter.indexOf('facet') !== -1, blur: blurFacet}"><i class="fa fa-plus"></i> Facet</a>
                                <div class="" data-palladio-selection-view></div>
                            </div>
                            

                            <div class="clearfix"></div>
                        </div>
                        
                        

                        <div class="row-fluid" data-ng-show="expandedFilters"></div>
                        <ul data-ng-show="expandedFilters" class="unstyled accordion" id="filters"></ul>
                    </div>
                </div>
            </div>