<div class="">

	<div data-palladio-graph-view
		graph-height="graphHeight"
		style="margin-bottom: -55px"
		link-dimension="linkDimension"
		show-links="showLinks"
		show-labels="showLabels"
		highlight-source="highlightSource"
		highlight-target="highlightTarget"
		read-internal-state="readInternalState"
		set-internal-state="setInternalState"
		get-svg="getSvg"
		node-size="nodeSize"
		data-aggregation-type="{{aggregationType}}"
		data-aggregate-key="{{aggregateKey}}"
		count-by="{{countBy}}"
		count-description="{{aggDescription}}">

		<div class="leaflet-top leaflet-left">
			<div class="leaflet-control-zoom-graph leaflet-bar leaflet-control">
				<a class="leaflet-control-zoom-in" ng-click="zoomIn()" title="Zoom in">+</a>
				<a class="leaflet-control-zoom-out" ng-click="zoomOut()" title="Zoom out">-</a>
			</div>
			<div class="zoom-to-data-control leaflet-bar leaflet-control">
				<a class="leaflet-control-to-data" title="Zoom to data" ng-click="zoomToData()"><i class="fa fa-object-group"></i></a>
			</div>
		</div>

</div>

<!-- Settings -->
<div class="row" data-ng-show="settings">

    <div class="settings col-lg-4 col-lg-offset-8 col-md-6 col-md-offset-6">
      <div class="panel panel-default">

        <a class="settings-toggle" data-toggle="tooltip" data-original-title="Settings" data-placement="bottom">
          <i class="fa fa-bars"></i>
        </a>

        <div class="panel-body">

          <div class="row">
            <div class="col-lg-12">
              <label>Settings</label>
            </div>
          </div>

          <div class="row margin-top">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
              <label class="inline">Source</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-condensed">
              <span class="btn btn-default" ng-click="showSourceModal()">
                  {{mapping.sourceDimension.description || "Choose"}}
                  <span class="caret"></span>
              </span>
            </div>
          </div>

					<div class="row margin-top">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
							<label class="inline">Highlight</label>
						</div>
						<div class="col-lg-8 col-md-8 col-md-8 col-xs-8 col-condensed">
								<input type="checkbox" ng-model="highlightSource">
						</div>
					</div>

					<div class="row margin-top">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
              <label class="inline">Target</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-condensed">
              <span class="btn btn-default" ng-click="showTargetModal()">
                  {{mapping.targetDimension.description || "Choose"}}
                  <span class="caret"></span>
              </span>
            </div>
          </div>

					<div class="row margin-top">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
							<label class="inline">Highlight</label>
						</div>
						<div class="col-lg-8 col-md-8 col-md-8 col-xs-8 col-condensed">
								<input type="checkbox" ng-model="highlightTarget">
						</div>
					</div>


					<div class="row margin-top">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
							<label class="inline">Show links</label>
						</div>
						<div class="col-lg-8 col-md-8 col-md-8 col-xs-8 col-condensed">
								<input type="checkbox" ng-model="showLinks">
						</div>
					</div>

					<div class="row margin-top">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
							<label class="inline">Size nodes</label>
						</div>
						<div class="col-lg-8 col-md-8 col-md-8 col-xs-8 col-condensed">
								<input type="checkbox" ng-model="nodeSize">
						</div>
					</div>

					<div class="row margin-top" data-ng-show="nodeSize">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right ">
							<label class="inline">According to</label>
						</div>
						<div class="col-lg-8 col-md-8 col-md-8 col-xs-8 col-condensed">
							<span class="btn btn-default" ng-click="showAggModal()">
								{{getAggDescription(aggDim) || "Choose"}}
								<span class="caret"></span>
							</span>
						</div>
					</div>

					<div class="row margin-top">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right ">
						</div>
						<div class="col-lg-8 col-md-8 col-md-8 col-xs-8 col-condensed">
							<a class="pull-right"
							tooltip="Download graph (svg)"
							tooltip-animation="false"
							tooltip-append-to-body="true"
							ng-click="exportSvg(this, 'Palladio Graph.svg')">
								<i class="fa fa-download margin-right"></i>Download
							</a>
						</div>
					</div>





        </div>

      </div>
    </div>

</div>

<div id="{{uniqueModalId}}">
	<div id="source-modal" data-modal description="Choose source dimension" dimensions="fields" model="mapping.sourceDimension"></div>
	<div id="target-modal" data-modal description="Choose target dimension" dimensions="fields" model="mapping.targetDimension"></div>
	<div id="agg-modal" data-modal description="Choose aggregation for sizing nodes" dimensions="aggDims" model="aggDim" description-accessor="getAggDescription"></div>
</div>
