[data-palladio-map-view] {
	width: 100%;
	background: #ddd;
}

.leaflet-container {
  font: normal 12px karla, arial, sans-serif;
}

[data-palladio-map-view] .legend {
	position: absolute;
	top:10px;
	left: 50px;
	opacity: .95;
	background-color: #fff;
	border-radius: 2px;
	padding: 10px;
}

[data-palladio-map-view-with-settings] .sortable-override:empty {
  cursor: default;
}

[data-palladio-map-view-with-settings] .sortable-override li:only-child {
  cursor: default;
}

[data-palladio-map-view] .zoom-to-data-control {
	border: none;
}

[data-palladio-map-view] .legend-title{
	margin-bottom: 5px;
	width: 70px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

[data-palladio-map-view] .legend-value{
	alignment-baseline: central;
	font-size: 11px;
	font-weight: 300;
}


[data-palladio-map-view] .legend .circle {
	background-color: rgba(0,0,0,.2);
}


[data-palladio-map-view] .node {
	cursor: pointer;
}

[data-palladio-map-view] .node:hover {
	opacity: 0.9;
	transition-property: fill;
    transition-duration: .5s;
	fill: #1B2D36;
}

[data-palladio-map-view] .shape {
	cursor: pointer;
}

[data-palladio-map-view] .shape:hover {
	opacity: 0.9;
	stroke-opacity: 0.9;
}

[data-palladio-map-view] .link{

	cursor: pointer;
}

[data-palladio-map-view] .link:hover {
	opacity: .8;
}

[data-palladio-map-view] .leaflet-bar a {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	width: 26px;
	height: 26px;
	line-height: 26px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
}

[data-palladio-map-view] .leaflet-bar {
	box-shadow: none;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

[data-palladio-map-view] .leaflet-control-zoom, .leaflet-control-layers {
	border: none;
}

[data-palladio-map-view] .leaflet-bar a:first-child {
	-webkit-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
}

[data-palladio-map-view] .leaflet-bar a:last-child {
	-webkit-border-bottom-left-radius: 2px;
	border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom: none;
}

[data-palladio-map-view] .leaflet-bottom {
	z-index: 10;
}


[data-palladio-map-view] .hidden-node {
	opacity: .1;
}

[data-palladio-map-view] .hidden-link {
	display: none;
}

[data-palladio-map-view-with-settings] .layer-list {
	list-style-type: none;
	margin-left: 0px;
	border-radius: 0px;
	background: #fafafa;
	border: 1px solid #ddd;
}

[data-palladio-map-view-with-settings] .layer-list i {
	cursor: pointer;
}

[data-palladio-map-view-with-settings] .layer-list i.fa.fa-bars {
	cursor: move;
}

.layer-img {
	height: 60px;
	background-color: #eee;
	background-size: cover;
	background-position: center;

	/* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;

	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;

	/* Safari, Opera, and Chrome */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;
	border-radius: 2px;

	cursor: pointer;
	opacity: .8;
}

.short-layer-img {
	height: 20px;
}

.layer-img:hover {
	opacity: 1;
	-webkit-transition: opacity ease-out .15s;
	-o-transition: opacity ease-out .15s;
	transition: opacity ease-out .15s;
}

.layer-img.active {
	box-shadow: inset 0px 0px 0px 3px #4EBDE5;
	opacity: 1;
}

[data-palladio-map-view-with-settings] .layer-color {
	padding: 0px 7px;
}

[data-palladio-map-view-with-settings] .layer-item {
	padding: 8px 10px;
	font-size: 13px;
	background: #f5f5f5;
	margin-bottom: 2px;

	-webkit-transition: background ease-out .15s;
	-o-transition: background ease-out .15s;
	transition: background ease-out .15s;
}

[data-palladio-map-view-with-settings] .layer-item:hover {
	background: #eee;
	cursor: move;
}

[data-palladio-map-view-with-settings] .layer-item:last-child {
		margin-bottom: 0px
}
