[data-palladio-map-view] {
	width: 100%;
	height: 100%;
}

.leaflet-container {
  font: normal 12px merriweather, arial, sans-serif;
}

[data-palladio-map-view] .legend {
	position: absolute;
	top:10px;
	left: 50px;
	opacity: .95;
	background-color: #fff;
	border-radius: 2px;
	padding: 10px;
}

[data-palladio-map-view] .legend-title{
	margin-bottom: 5px;
}

[data-palladio-map-view] .legend-value{
	alignment-baseline: central;
	font-size: 11px;
	font-weight: 300;
}


[data-palladio-map-view] .legend .circle {
	background-color: rgba(0,0,0,.2);
}


[data-palladio-map-view] .node {
	opacity: 0.7;
	stroke-opacity: 0.2;
	cursor: pointer;
}

[data-palladio-map-view] .node:hover {
	opacity: 0.9;
	transition-property: fill;
    transition-duration: .5s;
	fill: #1B2D36;
}

[data-palladio-map-view] .link{

	cursor: pointer;
}

[data-palladio-map-view] .link:hover {
	opacity: .8;
}

[data-palladio-map-view] .leaflet-bar a {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	width: 26px;
	height: 26px;
	line-height: 26px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
}

[data-palladio-map-view] .leaflet-bar {
	box-shadow: none;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

[data-palladio-map-view] .leaflet-control-zoom, .leaflet-control-layers {
	border: none;
}

[data-palladio-map-view] .leaflet-bar a:first-child {
	-webkit-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
}

[data-palladio-map-view] .leaflet-bar a:last-child {
	-webkit-border-bottom-left-radius: 2px;
	border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom: none;
}

[data-palladio-map-view] .leaflet-bottom {
	z-index: 10;
}


[data-palladio-map-view] .hidden-node {
	opacity: .1;
}

[data-palladio-map-view] .hidden-link {
	display: none;
}

[data-palladio-map-view-with-settings] .layer-list {
	list-style-type: none;
	margin-left: 0px;
	border-radius: 0px;
	background: #fafafa;
	border: 1px solid #ddd;
}

[data-palladio-map-view-with-settings] .layer-list i {
	cursor: pointer;
}

[data-palladio-map-view-with-settings] .layer-list i.fa.fa-bars {
	cursor: move;
}

.layer-img {
	height: 120px;
	background-size: cover;
	background-position: center;
}

[data-palladio-map-view-with-settings] .layer-item {
	padding: 10px;
	font-size: 12px;
	background: #f5f5f5;
	margin-bottom: 2px;
}

[data-palladio-map-view-with-settings] .layer-item:last-child {
		margin-bottom: 0px
}
