<div class="view">
	<a class="toggle" data-toggle="tooltip" data-original-title="Settings" data-placement="bottom">
		<i class="fa fa-cog"></i>
	</a>
	<div data-palladio-map-view
		type="mapType.value"
		source-dimension="source"
		source-accessor="sourceAccessor"
		source-coordinates-accessor="sourceCoordinatesAccessor"
		destination-dimension="destination"
		destination-accessor="destinationAccessor"
		destination-coordinates-accessor="destinationCoordinatesAccessor"
		description-field="descriptiveDim"
		sequence-accessor="sequenceAccessor"
		filter-dimension="filterDimension"
		tile-sets="tileSets"
		point-size="pointSize"
		max-point-size="maxPointSize"
		show-links="showLinks"
		data-aggregation-type="{{aggregationType}}"
		data-aggregate-key="{{aggregateKey}}"
		count-by="{{countBy}}"
		count-description="{{aggDescription}}">
	</div>
</div>
<!-- Settings -->
<div class="span4 settings open">
	<div class="row-fluid">
		<div class="span6">						     
			<div class="setting">
				<label>Map type</label>
				<select bs-select ng-model="mapType" ng-options="type.label for type in mapTypes"
						data-size="5" class="span12 form-control show-tick">
				</select> 
			</div>
		</div>
		<div class="span6">
			<label>&nbsp;</label>
			<span class="help-block"></span>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span6">
						        
			<div class="setting" ng-show="mapType.value=='points' || mapType.value=='sequence'">
				<label>Places</label>
				<select bs-select ng-model="mapping.sourceCoordinates" 
						ng-options="field as field.description for field in latlonFields" 
						data-size="5" class="span12 form-control show-tick">
					<option value=""><i>None</i></option>
				</select> 
			</div>
						    
			<div class="setting" ng-show="mapType.value=='point-to-point'">
				<label>Source Places</label>
				<select bs-select ng-model="mapping.sourceCoordinates" 
						ng-options="field as field.description for field in latlonFields" 
						data-size="5" class="span12 form-control show-tick">
					<option value=""><i>None</i></option>
				</select> 
			</div>

		</div>

		<div class="span6">

			<div class="setting" ng-show="mapType.value=='point-to-point'">
					<label>Destination Places</label>
					<select bs-select ng-model="mapping.destinationCoordinates" 
							ng-options="field as field.description for field in latlonFields"
							data-size="5" class="span12 form-control show-tick">
					<option value=""><i>None</i></option>
				</select> 
			</div>

			<div class="setting" ng-show="mapType.value=='sequence'">
				<label>Establish sequence by</label>
				<select bs-select ng-model="mapping.sequence" 
						ng-options="field.description for field in dateFields" 
						data-size="5" class="span12 form-control show-tick">
					<option value=""><i>None</i></option>
				</select> 
			</div>

			<div class="setting" ng-show="mapType.value=='point-to-point' || mapType.value=='sequence'">
				<label class="checkbox">
					<input type="checkbox" ng-model="showLinks"> Show links
				</label>
			</div>

		</div>

	</div>

	<div class="space"></div>

	<div class="row-fluid">
		<div class="span6">

			<div class="setting">
				<label class="checkbox">
					<input type="checkbox" ng-model="pointSize"> Size points
				</label>
			</div>

			<div class="setting" data-ng-show="pointSize">
				<label class="">Point size corresponds to</label>
				<span class="field" ng-click="showAggModal()">
						{{getAggDescription(aggDim) || "Choose..."}}
					<i class="fa fa-bars pull-right"></i>
				</span>
			</div>
		</div>
		<div class="span6">

			<div class="setting" data-ng-show="pointSize">
				<label class="checkbox">
					<input type="checkbox" ng-model="fixScale"> Adjust scale
				</label>
			</div>

			<div class="setting" data-ng-show="fixScale && pointSize">
				<label class="text">Maximum value</label>
				<div class="row-fluid">
					<input class="span12" type="number" ng-model="maxPointSize">
				</div>
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span6">

			<div class="space"></div>
						      	
			<div class="setting">
				<label class="">Tooltip label</label>
				<span class="field" ng-click="showDescriptionModal()">
						{{descriptiveDim.description || "Choose..."}}
					<i class="fa fa-bars pull-right"></i>
				</span>
			</div>

			<div class="space"></div>

			<div class="setting">
				<label class="text">Layers</label>
				<div class="row-fluid">
					<ul class="layer-list">

						<li class="layer-item" data-ng-repeat="layer in tileSets | orderBy:index">
							<i class="fa fa-eye-slash" data-ng-click="layer.toggle()" ng-show="!layer.enabled" data-toggle="tooltip" data-original-title="Show"></i>
							<i class="fa fa-eye" data-ng-click="layer.toggle()" ng-show="layer.enabled" data-toggle="tooltip" data-original-title="Hide"></i>
							<span style="margin-left: 10px">{{layer.description}}</span>
							<i class="fa fa-times pull-right" data-ng-click="layer.remove();" style="line-height: 1.6"></i>
						</li>
						<li class="layer-item" data-ng-show="!tileSets.length">
							<span>No layers</span>
						</li>
					</ul>
					<button class="btn" data-ng-click="showLayerModal()">Add new layer</button>
				</div>
			</div>

			<div class="space"></div>

			<div class="setting">
				<a ng-click="exportSvg(this, 'Palladio Map.svg')">
					<i class="fa fa-arrow-circle-down margin-right"></i> Export places and links as .svg
				</a>
			</div>

		</div>

		
	</div>
</div>
<div id="{{uniqueModalId}}">
	<div id="agg-modal" data-modal dimensions="aggDims" model="aggDim" 
			description-accessor="getAggDescription"></div>
	<div id="description-modal" data-modal dimensions="descriptiveDims" model="descriptiveDim"></div>
	<div id="layer-modal" data-layer-modal layers="tileSets"></div>
</div>