<div class="view">
	<!-- View -->

	<div data-palladio-map-view
		type="mapType.value"
		source-dimension="source"
		source-accessor="sourceAccessor"
		source-coordinates-accessor="sourceCoordinatesAccessor"
		destination-dimension="destination"
		destination-accessor="destinationAccessor"
		destination-coordinates-accessor="destinationCoordinatesAccessor"
		description-field="descriptiveDim"
		sequence-accessor="sequenceAccessor"
		filter-dimension="filterDimension"
		tile-sets="tileSets"
		point-size="pointSize"
		max-point-size="maxPointSize"
		show-links="showLinks"
		data-aggregation-type="{{aggregationType}}"
		data-aggregate-key="{{aggregateKey}}"
		count-by="{{countBy}}"
		count-description="{{aggDescription}}">
	</div>
</div>

<!-- Settings -->
<div class="row">

		<div class="settings col-lg-5 col-lg-offset-7 col-md-6 col-md-offset-6">
			<div class="panel panel-default">

				<a class="settings-toggle" data-toggle="tooltip" data-original-title="Settings" data-placement="bottom">
					<i class="fa fa-bars"></i>
				</a>


				<!-- Body -->
				<div class="panel-body">


<!--					<div class="row margin-bottom">
						<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
						</div>
						<div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
							<p class="title">Settings</p>
						</div>
					</div>
-->
					<!--<form class="" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search">
						</div>
					</form>-->

					<div class="row margin-top" data-ng-show="!addNewLayer">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
							</div>
							<div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
								<span class="">Layers</span>
						</div>
					</div>

					<div class="row margin-top" data-ng-show="!addNewLayer">
						<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
							<label class="inline"></label>
						</div>
						<div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
								<ul class="layer-list list-unstyled" ui-sortable="{axis:y, containment: 'parent'}" data-ng-model="tileSets" data-ng-show="tileSets.length">
									<li class="layer-item" data-ng-repeat="layer in tileSets | orderBy:index">
										<i class="fa fa-bars text-muted margin-right"></i>
										<i class="fa" data-ng-class="layer.enabled ? 'fa-eye' : 'fa-eye-slash'" data-ng-click="layer.toggle()" data-title="{{layer.enabled ? 'Hide' : 'Show'}}" bs-tooltip></i>
										<span style="margin-left: 10px">{{layer.description}}</span>
										<i class="fa fa-trash-o pull-right" data-title="Delete" bs-tooltip data-ng-click="layer.remove();" style="line-height: 1.6"></i>
									</li>
								</ul>
								<ul data-ng-show="!tileSets.length" class="list-unstyled">
									<li class="layer-item">
										<span>No layers</span>
									</li>
								</ul>
								<p class="help-block">Layers can be draged</p>
								<a class="btn btn-default pull-right" data-ng-click="addNewLayer=true"><i class="fa fa-file-o text-primary margin-right"></i>New layer</a>
						</div>
					</div>


					<!-- Choosing layer -->

					<div class="" data-ng-show="addNewLayer">

						<div class="row margin-top">
								<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
								</div>
								<div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
									<span class="">New Layer</span>
							</div>
						</div>

						<div class="row margin-top">
								<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
									<label class="inline">Name</label>
								</div>
								<div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
									<input class="form-control" type="text" ng-model="description" placeholder="Layer {{tileSets.length}}">
							</div>
						</div>

						<!--<div class="row margin-top">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
								<label class="inline">Layer type</label>
							</div>
							<div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
								<button type="button" class="btn btn-default" ng-model="layerType"
										data-html="1" placeholder="Choose" ng-options="t as t.description for t in layerTypes" bs-select>
									Choose <span class="caret"></span>
								</button>
								<span class="help-block">{{layerType.info}}</span>
							</div>
						</div>-->

						<div class="row margin-top">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
								<label class="inline">Type</label>
							</div>
							<div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
								<ul class="nav nav-tabs" role="tablist" data-ng-init="layerType=layerTypes[0]">
									<li data-ng-class="{'active' : layerType.value =='data'}"><a ng-click="layerType=layerTypes[0]" role="tab" data-toggle="tab">Data</a></li>
									<li data-ng-class="{'active' : layerType.value =='tiles'}"><a ng-click="layerType=layerTypes[1]" role="tab" data-toggle="tab">Tiles</a></li>
									<li data-ng-class="{'active' : layerType.value =='geoJSON'}"><a ng-click="layerType=layerTypes[2]" role="tab" data-toggle="tab">Polygons</a></li>
								</ul>
								<span class="help-block">{{layerType.info}}</span>

								<!--<div class="tab-content front-page-tab-content">
									<div class="tab-pane" data-ng-class="{'active' : layerType.value =='data'}">
									</div>
								</div>-->
							</div>
						</div>



					<!-- tiles -->
					<div class="" data-ng-show="layerType.value=='tiles'">

						<div class="row margin-top">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
								<label class="inline">Tiles type</label>
							</div>
							<div class="col-lg-9 col-md-9 col-md-8 col-xs-8">
								<div class="row">
									<div class="col-lg-6 col-md-6 margin-bottom" style="padding-left:0" data-ng-repeat="tile in tilesTypes" data-ng-click="selectTile(tile)">
										<div class="layer-img" style="background-image:url({{tile.img}})" data-ng-class="{active:tilesType==tile}">
											<span data-ng-class="{'text-white':tile.description=='Satellite'}">{{tile.description}}</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
							</div>
							<div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
								<p class="help-block">{{tilesType.info}}</p>
							</div>
						</div>

						<div class="row margin-top" ng-show="tilesType && tilesType.custom">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
								<label class="inline">Tileset URL</label>
							</div>
							<div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
								<input type="text" id="layerUrl" ng-model="url" class="form-control" placeholder="e.g. http://maps.nypl.org/warper/maps/tile/13529/{z}/{x}/{y}.png">
								<span class="help-block">Google/OSM schema tiles, using {x}, {y}, {z}</span>
							</div>
						</div>

						<div class="row" ng-show="tilesType && tilesType.custom">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
								<label class="inline">Mapbox ID</label>
							</div>
							<div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
							<input type="text" id="layerMbId" ng-model="mbId" class="form-control" placeholder="e.g. examples.map-zr0njcqy">
							<span class="help-block">A Mapbox map ID. <a href="https://www.mapbox.com/help/define-map-id/" target="_blank">Click here to know more</a></span>
							</div>
						</div>



					</div>


					<!-- Map -->

					<div class="" data-ng-show="layerType.value=='data'">

						<!--<div class="row margin-top">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
								<label class="inline">Map type</label>
							</div>
							<div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
								<button type="button" class="btn btn-default"
										ng-model="mapType"
										data-html="1"
										placeholder="Choose"
										ng-options="type.label for type in mapTypes"
										bs-select>
									Choose <span class="caret"></span>
								</button>
								<p class="help-block">{{mapType.description}}</p>
							</div>
						</div>-->

						<div class="row margin-top">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
								<label class="inline">Map type</label>
							</div>
							<div class="col-lg-9 col-md-9 col-md-8 col-xs-8">
								<div class="row">
									<div class="col-lg-6 col-md-6 margin-bottom" style="padding-left:0" data-ng-repeat="map in mapTypes" data-ng-click="selectMap(map)">
										<div class="layer-img" style="background-image:url({{map.img}})" data-ng-class="{active:mapType==map}">
											<span>{{map.description}}</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row margin-top" ng-show="mapType.value=='points' || mapType.value=='sequence'">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
								<label class="inline">Places</label>
							</div>
							<div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
								<button type="button"
										class="btn btn-default"
										ng-model="mapping.sourceCoordinates"
										data-html="1"
										placeholder="Choose"
										ng-options="field as field.description for field in latlonFields"
										bs-select>
									Choose <span class="caret"></span>
								</button>
							</div>
						</div>

						<div class="row margin-top" ng-show="mapType.value=='point-to-point'">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
								<label class="inline">Source Places</label>
							</div>
							<div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
								<button type="button"
										class="btn btn-default"
										ng-model="mapping.sourceCoordinates"
										data-html="1"
										placeholder="Choose"
										ng-options="field as field.description for field in latlonFields"
										bs-select>
									Choose <span class="caret"></span>
								</button>
							</div>
						</div>
						<div class="row margin-top" ng-show="mapType.value=='point-to-point'">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
								<label class="inline">Target Places</label>
							</div>
							<div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
								<button type="button"
										class="btn btn-default"
										ng-model="mapping.destinationCoordinates"
										data-html="1"
										placeholder="Choose"
										ng-options="field as field.description for field in latlonFields"
										bs-select>
									Choose <span class="caret"></span>
								</button>
							</div>

						</div>

						<div class="row margin-top">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
								<label class="inline">Tooltip label</label>
							</div>
							<div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
								<span class="btn btn-default" ng-click="showDescriptionModal()">
										{{descriptiveDim.description || "Choose"}}
										<span class="caret"></span>
								</span>
							</div>
						</div>

						<div class="row margin-top" ng-show="mapType.value=='point-to-point' || mapType.value=='sequence'">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
								<label class="inline">Show links</label>
							</div>
							<div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
									<input type="checkbox" ng-model="showLinks">
							</div>
						</div>

						<div class="row margin-top">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
								<label class="inline">Size points</label>
							</div>
							<div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
									<input type="checkbox" ng-model="pointSize">
							</div>
						</div>

						<div class="row margin-top" data-ng-show="pointSize">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right ">
								<label class="inline">According to</label>
							</div>
							<div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
								<span class="btn btn-default" ng-click="showAggModal()">
									{{getAggDescription(aggDim) || "Choose"}}
									<span class="caret"></span>
								</span>
							</div>
						</div>

						<div class="row margin-top" data-ng-show="pointSize">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
								<label class="inline">Adjust scale</label>
							</div>
							<div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
								<input type="checkbox" ng-model="fixScale">
							</div>
						</div>

						<div class="row margin-top" data-ng-show="fixScale && pointSize">
								<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
									<label class="inline">Maxim</label>
								</div>
								<div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
									<input class="form-control" type="number" ng-model="maxPointSize">
									<p class="help-block">Maximum value</p>
							</div>
						</div>

					</div>

					<div class="row margin-top">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
							</div>
							<div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
								<div class="pull-right">
									<a class="btn btn-default" data-ng-disabled="!layerType" data-ng-click="addLayer();addNewLayer=false;">Add layer</a>
									<a class="btn btn-default btn-cancel" data-ng-click="addNewLayer=false">Cancel</a>
								</div>
						</div>
					</div>



				</div>
			</div>

				<!-- Footer -->
				<!--<div class="panel-footer">
					<a ng-click="exportSvg(this, Palladio Map.svg)">
						<i class="fa fa-download margin-right"></i>Download places and links as .svg
					</a>
				</div>-->

			</div>
		</div>



</div>


<!--<div class="span4 settings open">
	<div class="row-fluid">
		<div class="span6">
			<div class="setting">
				<label>Map type</label>
				<select bs-select ng-model="mapType" ng-options="type.label for type in mapTypes"
						data-size="5" class="span12 form-control show-tick">
				</select>
			</div>
		</div>
		<div class="span6">
			<label>&nbsp;</label>
			<span class="help-block"></span>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span6">

			<div class="setting" ng-show="mapType.value==points || mapType.value==sequence">
				<label>Places</label>
				<select bs-select ng-model="mapping.sourceCoordinates"
						ng-options="field as field.description for field in latlonFields"
						data-size="5" class="span12 form-control show-tick">
					<option value=""><i>None</i></option>
				</select>
			</div>

			<div class="setting" ng-show="mapType.value==point-to-point">
				<label>Source Places</label>
				<select bs-select ng-model="mapping.sourceCoordinates"
						ng-options="field as field.description for field in latlonFields"
						data-size="5" class="span12 form-control show-tick">
					<option value=""><i>None</i></option>
				</select>
			</div>

		</div>

		<div class="span6">

			<div class="setting" ng-show="mapType.value==point-to-point">
					<label>Destination Places</label>
					<select bs-select ng-model="mapping.destinationCoordinates"
							ng-options="field as field.description for field in latlonFields"
							data-size="5" class="span12 form-control show-tick">
					<option value=""><i>None</i></option>
				</select>
			</div>

			<div class="setting" ng-show="mapType.value==sequence">
				<label>Establish sequence by</label>
				<select bs-select ng-model="mapping.sequence"
						ng-options="field.description for field in dateFields"
						data-size="5" class="span12 form-control show-tick">
					<option value=""><i>None</i></option>
				</select>
			</div>

			<div class="setting" ng-show="mapType.value==point-to-point || mapType.value==sequence">
				<label class="checkbox">
					<input type="checkbox" ng-model="showLinks"> Show links
				</label>
			</div>

		</div>

	</div>

	<div class="space"></div>

	<div class="row-fluid">
		<div class="span6">

			<div class="setting">
				<label class="checkbox">
					<input type="checkbox" ng-model="pointSize"> Size points
				</label>
			</div>

			<div class="setting" data-ng-show="pointSize">
				<label class="">Point size corresponds to</label>
				<span class="field" ng-click="showAggModal()">
						{{getAggDescription(aggDim) || "Choose..."}}
					<i class="fa fa-bars pull-right"></i>
				</span>
			</div>
		</div>
		<div class="span6">

			<div class="setting" data-ng-show="pointSize">
				<label class="checkbox">
					<input type="checkbox" ng-model="fixScale"> Adjust scale
				</label>
			</div>

			<div class="setting" data-ng-show="fixScale && pointSize">
				<label class="text">Maximum value</label>
				<div class="row-fluid">
					<input class="span12" type="number" ng-model="maxPointSize">
				</div>
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span6">

			<div class="space"></div>

			<div class="setting">
				<label class="">Tooltip label</label>
				<span class="field" ng-click="showDescriptionModal()">
						{{descriptiveDim.description || "Choose..."}}
					<i class="fa fa-bars pull-right"></i>
				</span>
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<div class="space"></div>
			<div class="setting">
				<label class="text">
					Layers
					<span class="tiny muted"> (Layers can overlap. Drag to change order)</span>
				</label>

				<div class="span12">
					<ul class="layer-list span8" ui-sortable data-ng-model="tileSets">

						<li class="layer-item" data-ng-repeat="layer in tileSets | orderBy:index">
							<i class="fa fa-arrows" style="margin-right:3px;"></i>
							<i class="fa fa-eye-slash" data-ng-click="layer.toggle()" ng-show="!layer.enabled" data-toggle="tooltip" data-original-title="Show"></i>
							<i class="fa fa-eye" data-ng-click="layer.toggle()" ng-show="layer.enabled" data-toggle="tooltip" data-original-title="Hide"></i>
							<span style="margin-left: 10px">{{layer.description}}</span>
							<i class="fa fa-times pull-right" data-ng-click="layer.remove();" style="line-height: 1.6"></i>
						</li>
						<li class="layer-item" data-ng-show="!tileSets.length">
							<span>No layers</span>
						</li>
					</ul>
				</div>

				<button class="btn" data-ng-click="showLayerModal()">Add new layer</button>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="space"></div>

			<div class="setting">
				<a ng-click="exportSvg(this, Palladio Map.svg)">
					<i class="fa fa-arrow-circle-down margin-right"></i> Export places and links as .svg
				</a>
			</div>
		</div>
	</div>
</div>-->

<div id="{{uniqueModalId}}">
	<div id="agg-modal" data-modal dimensions="aggDims" model="aggDim"
			description-accessor="getAggDescription"></div>
	<div id="description-modal" data-modal dimensions="descriptiveDims" model="descriptiveDim"></div>
	<div id="layer-modal" data-layer-modal layers="tileSets"></div>
</div>
