<div class="view">
	<!-- View -->

	<div data-palladio-map-view
		map-height="mapHeight"
		tile-sets="tileSets"
		layers="layers"
		zoom="zoom"
		center="center"
		popover-dims="popoverDims"
		popover-title-link-dim="popoverTitleLinkDim">
	</div>
	<div id="palladio-map-popover" style="position: absolute; height: 100px; width: 100px; top: 0px; left: 0px; opacity: 0; pointer-events: none; box-sizing: border-box;"></div>
</div>

<!-- Settings -->
<div class="row" data-ng-show="settings">

  <div class="settings col-lg-5 col-lg-offset-7 col-md-6 col-md-offset-6">
    <div class="panel panel-default">

      <a class="settings-toggle">
        <i class="fa fa-bars"></i>
      </a>


      <!-- Body -->
      <div class="panel-body">

        <p>Map layers</p>

        <div class="row margin-top" data-ng-show="!addNewLayer">
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
            <label class="inline">Data/Shapes</label>
          </div>
          <div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
            <ul class="layer-list list-unstyled sortable-override" ui-sortable="{axis:y, containment: 'parent'}" data-ng-model="layers" data-ng-show="layers.length">
              <li class="layer-item" data-ng-repeat="layer in layers | orderBy:index" ng-style="{'border-right':'5px solid ' + layer.color}">

                <i
                tooltip="{{layer.enabled ? 'Hide' : 'Show'}}"
                tooltip-animation="false"
                tooltip-append-to-body="true"
                class="fa text-muted" data-ng-class="layer.enabled ? 'fa-eye' : 'fa-eye-slash'" data-ng-click="layer.toggle()" data-title="{{layer.enabled ? 'Hide' : 'Show'}}" bs-tooltip></i>

                <span style="margin-left: 10px">{{layer.description}}</span>
                <i
                  tooltip="Delete layer"
                  tooltip-animation="false"
                  tooltip-append-to-body="true"
                  class="fa fa-trash-o pull-right text-danger" data-container="body" data-title="Delete" bs-tooltip data-ng-click="layer.remove();" style="line-height: 1.6"></i>

                <i
                tooltip="Edit"
                tooltip-animation="false"
                tooltip-append-to-body="true"
                class="fa fa-pencil pull-right margin-right text-primary" data-container="body" data-title="Edit" bs-tooltip data-ng-click="layer.edit();" style="line-height: 1.6"></i>

              </li>
            </ul>

            <ul data-ng-show="!layers.length" class="list-unstyled sortable-override">
              <li class="layer-item">
                <span class="text-muted">No data layers</span>
              </li>
            </ul>

            <a
            ng-show="layers.length"
            tooltip="Export data layers (svg)"
            tooltip-animation="false"
            tooltip-append-to-body="true"
            class="pull-right small margin-bottom" ng-click="getAndExportSvg()">
              Export
            </a>

          </div>
        </div>

        <div class="row" data-ng-show="!addNewLayer">
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
            <label class="inline">Tiles</label>
          </div>
          <div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
            <ul class="layer-list list-unstyled sortable-override" ui-sortable="{axis:y, containment: 'parent'}" data-ng-model="tileSets" data-ng-show="tileSets.length">
              <li class="layer-item" data-ng-repeat="layer in tileSets | orderBy:index">

                <i tooltip="{{layer.enabled ? 'Hide' : 'Show'}}"
                tooltip-animation="false"
                tooltip-append-to-body="true"
                class="fa text-muted" data-ng-class="layer.enabled ? 'fa-eye' : 'fa-eye-slash'" data-ng-click="layer.toggle()" data-title="{{layer.enabled ? 'Hide' : 'Show'}}" bs-tooltip></i>

                <span style="margin-left: 10px">{{layer.description}}</span>
                <i
                tooltip="Delete layer"
                tooltip-animation="false"
                tooltip-append-to-body="true"
                class="fa fa-trash-o pull-right" data-title="Delete" bs-tooltip data-ng-click="layer.remove();" style="line-height: 1.6"></i>
              </li>
            </ul>
            <ul data-ng-show="!tileSets.length" class="list-unstyled sortable-override">
              <li class="layer-item">
                <span class="text-muted">No tilesets</span>
              </li>
            </ul>
            <p class="help-block">Sort layers by dragging them</p>
            <a class="btn btn-default pull-right" data-ng-click="addNewLayer=true"><i class="fa fa-file-o text-primary margin-right"></i>New layer</a>

          </div>
        </div>


        <div class="row margin-top">
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
          </div>
          <div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">

          </div>
        </div>




        <!-- Choosing layer -->

        <div class="" data-ng-show="addNewLayer">
          <div class="row margin-top">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
              <label class="inline">Type</label>
            </div>
            <div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
              <ul class="nav nav-tabs" role="tablist" data-ng-init="layerType=layerTypes[0]">
                <li data-ng-class="{'active' : layerType.value =='data'}"><a ng-click="layerType=layerTypes[0]" role="tab" data-toggle="tab">Data</a></li>
                <li data-ng-class="{'active' : layerType.value =='tiles'}"><a ng-click="layerType=layerTypes[1]" role="tab" data-toggle="tab">Tiles</a></li>
                <li data-ng-class="{'active' : layerType.value =='geoJSON'}"><a ng-click="layerType=layerTypes[2]" role="tab" data-toggle="tab">Shapes</a></li>
              </ul>
              <span class="help-block">{{layerType.info}}</span>
            </div>
          </div>

          <div class="row margin-top">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
              <label class="inline">Name</label>
            </div>
            <div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
              <input class="form-control" type="text" ng-model="description" placeholder="Layer {{tileSets.length}}">
            </div>
          </div>




        <!-- Tiles -->

        <div class="" data-ng-show="layerType.value=='tiles'">

          <div class="row margin-top">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
              <label class="inline">Tiles type</label>
            </div>
            <div class="col-lg-9 col-md-9 col-md-8 col-xs-8">
              <div class="row">
                <div class="col-lg-6 col-md-6 margin-bottom" style="padding-left:0" data-ng-repeat="tile in tilesTypes" data-ng-click="selectTile(tile)">
                  <div class="layer-img" style="background-image:url({{tile.img}})" data-ng-class="{active:tilesType==tile, 'short-layer-img': tilesType.custom}">
                    <span data-ng-class="{'text-white':tile.description=='Satellite'}">{{tile.description}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
            </div>
            <div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
              <p class="help-block">{{tilesType.info}}</p>
            </div>
          </div>

          <div class="row margin-top" ng-show="tilesType && tilesType.custom">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
              <label class="inline">Tileset URL</label>
            </div>
            <div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
              <input type="text" id="layerUrl" ng-model="url" class="form-control" placeholder="e.g. http://maps.nypl.org/warper/maps/tile/13529/{z}/{x}/{y}.png">
              <span class="help-block">Google/OSM schema tiles, using {x}, {y}, {z}</span>
            </div>
          </div>

          <div class="row" ng-show="tilesType && tilesType.custom">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
              <label class="inline">WMS URL</label>
            </div>
            <div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
              <input type="text" id="layerWmsUrl" ng-model="wmsUrl" class="form-control" placeholder="e.g. http://mesonet.agron.iastate.edu/cgi-bin/wms/nexrad/n0r.cgi">
            </div>
          </div>

          <div class="row margin-top" ng-show="tilesType && tilesType.custom">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
              <label class="inline">WMS Layers</label>
            </div>
            <div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
              <input type="text" id="layerWmsLayers" ng-model="wmsLayers" class="form-control" placeholder="e.g. nexrad-n0r-900913">
            </div>
          </div>

          <div class="row margin-top" ng-show="tilesType && tilesType.custom">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
              <label class="inline">Mapbox ID</label>
            </div>
            <div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
            <input type="text" id="layerMbId" ng-model="mbId" class="form-control" placeholder="e.g. examples.map-zr0njcqy">
            <span class="help-block">A Mapbox map ID. <a href="https://www.mapbox.com/help/define-map-id/" target="_blank">Click here to learn more</a></span>
            </div>
          </div>



        </div>


        <!-- Data -->

        <div class="" data-ng-show="layerType.value=='data'">

          <div class="row margin-top">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
              <label class="inline">Map type</label>
            </div>
            <div class="col-lg-9 col-md-9 col-md-8 col-xs-8">
              <div class="row">
                <div class="col-lg-6 col-md-6 margin-bottom" style="padding-left:0" data-ng-repeat="map in mapTypes" data-ng-click="selectMap(map)">
                  <div class="layer-img" style="background-image:url({{map.img}})" data-ng-class="{active:mapType==map}">
                    <span>{{map.description}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row margin-top" ng-show="mapType.value=='points' || mapType.value=='sequence'">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
              <label class="inline">Places</label>
            </div>
            <div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">

              <ui-select ng-model="mapping.sourceCoordinates" theme="selectize" ng-disabled="disabled">
                <ui-select-match placeholder="Select or search">
                  {{$select.selected.description}}
                  <span class="caret"></span>
                </ui-select-match>
                <ui-select-choices repeat="field in latlonFields | filter: {description:$select.search}">
                  <span ng-bind-html="field.description | highlight: $select.search"></span>
                </ui-select-choices>
              </ui-select>

            </div>
          </div>

          <div class="row margin-top" ng-show="mapType.value=='point-to-point'">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
              <label class="inline">Source Places</label>
            </div>
            <div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">

              <ui-select ng-model="mapping.sourceCoordinates" theme="selectize" ng-disabled="disabled">
                <ui-select-match placeholder="Select or search">
                  {{$select.selected.description}}
                  <span class="caret"></span>
                </ui-select-match>
                <ui-select-choices repeat="field in latlonFields | filter: {description:$select.search}">
                  <span ng-bind-html="field.description | highlight: $select.search"></span>
                </ui-select-choices>
              </ui-select>

            </div>
          </div>
          <div class="row margin-top" ng-show="mapType.value=='point-to-point'">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
              <label class="inline">Target Places</label>
            </div>
            <div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">

              <ui-select ng-model="mapping.destinationCoordinates" theme="selectize" ng-disabled="disabled">
                <ui-select-match placeholder="Select or search">
                  {{$select.selected.description}}
                  <span class="caret"></span>
                </ui-select-match>
                <ui-select-choices repeat="field in latlonFields | filter: {description:$select.search}">
                  <span ng-bind-html="field.description | highlight: $select.search"></span>
                </ui-select-choices>
              </ui-select>

            </div>

          </div>

          <div class="row margin-top">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
              <label class="inline">Tooltip label</label>
            </div>
            <div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
              <span class="btn btn-default" ng-click="showDescriptionModal()">
                  {{descriptiveDim.description || "Choose"}}
                  <span class="caret"></span>
              </span>
            </div>
          </div>

          <div class="row margin-top">
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
                <label class="inline">Color</label>
              </div>
              <div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">

                <div class="input-group" ng-init="color='#666'">
                  <span class="input-group-addon" colorpicker id="sizing-addon1" ng-model="color" ng-style="{'background-color':color}"></span>
                  <input type="text" colorpicker class="form-control" aria-describedby="sizing-addon1" ng-model="color">
                </div>
            </div>
          </div>

          <div class="row margin-top" ng-show="mapType.value=='point-to-point' || mapType.value=='sequence'">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
              <label class="inline">Show links</label>
            </div>
            <div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
                <input type="checkbox" ng-model="showLinks">
            </div>
          </div>

          <div class="row margin-top">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
              <label class="inline">Size points</label>
            </div>
            <div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
                <input type="checkbox" ng-model="pointSize">
            </div>
          </div>

          <div class="row margin-top" data-ng-show="pointSize">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right ">
              <label class="inline">According to</label>
            </div>
            <div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
              <span class="btn btn-default" ng-click="showAggModal()">
                {{getAggDescription(aggDim) || "Choose"}}
                <span class="caret"></span>
              </span>
            </div>
          </div>

        </div>

        <!-- GeoJSON -->

        <div class="" data-ng-show="layerType.value=='geoJSON'">

          <div class="row margin-top">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
              <label class="inline">geoJSON</label>
            </div>
            <div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
              <textarea class="col-md-8 col-xs-8" id="layerGeoJSON" ng-model="geoJson" ui-codemirror="{ mode : 'javascript', lineNumbers : true, lineWrapping: true }" placeholder="Paste your geoJSON data or drop a file here" ui-refresh="cmRefresh"></textarea>

              <span class="help-block">Drop geoJSON file or paste geoJSON in the area above</span>

            </div>
          </div>

          <div class="row margin-top">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
              <label class="inline">Color</label>
            </div>
            <div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">

              <div class="input-group" ng-init="color='#666'">
                <span class="input-group-addon" colorpicker id="sizing-addon1" ng-model="color" ng-style="{'background-color':color}"></span>
                <input type="text" colorpicker class="form-control" aria-describedby="sizing-addon1" ng-model="color">
              </div>
            </div>
          </div>

          <div class="row margin-top">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
              <label class="inline">Fill shapes</label>
            </div>
            <div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
                <input type="checkbox" ng-model="fillShapes">
            </div>
          </div>
        </div>

        <div class="row margin-top">
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right">
          </div>
          <div class="col-lg-9 col-md-9 col-md-8 col-xs-8 col-condensed">
            <div class="pull-right">
              <a class="btn btn-default" data-ng-disabled="layerType.value === 'data' && ((!mapping.sourceCoordinates || (mapType.value=='point-to-point' && !mapping.destinationCoordinates)))" data-ng-click="addLayer();addNewLayer=false;">
                {{ editingLayer ? 'Apply' : 'Add layer' }}
              </a>
              <a class="btn btn-default btn-cancel" data-ng-click="addNewLayer=false">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="{{uniqueModalId}}">
	<div id="agg-modal" data-modal dimensions="aggDims" model="aggDim"
			description-accessor="getAggDescription"></div>
	<div id="description-modal" data-modal dimensions="descriptiveDims" model="descriptiveDim"></div>
	<div id="layer-modal" data-layer-modal layers="tileSets"></div>
</div>
