/*[data-palladio-timeline-filter] .list-title {
	height: 1.4em;
	font-weight: bold;
	margin-top: 1.5em;
	margin-left: 1.5em;
	margin-bottom: 0.25em;
}*/

[data-palladio-timeline-filter] path {
	shape-rendering: crispEdges;
}

[data-palladio-timeline-filter] .axis path, [data-palladio-timeline-filter] .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

[data-palladio-timeline-filter] .axis text {
	font-size: 10px;
}

[data-palladio-timeline-filter] .resize path {
  fill: #eee;
  stroke: #666;
}
