<!--<div class="row">

	<div class="col-lg-9 col-md-9 col-sm-11 col-xs-11 margin-bottom">
		<input type="text" class="form-control" data-ng-model="title" placeholder="Untitled"></input>
	</div>

	<div class="col-lg-3 col-md-3 col-sm-1 col-xs-1 margin-bottom">

		<a data-ng-show="showControls === 'true'"
			class="btn btn-default"
			data-ng-click="filterReset()"
			tooltip-animation="false"
			tooltip-append-to-body="true"
			tooltip="Clear">Clear</a>


		<a data-ng-show="showControls === 'true'"
			 class="text-danger fa fa-trash-o pull-right margin-top"
			 data-ng-click="$parent.removeFilter($event)"
			 tooltip-animation="false"
			 tooltip-append-to-body="true"
			 tooltip="Delete"></a>

		<span class="clearfix"></span>

	</div>
</div>-->

<div class="row">

	<div class="col-lg-9">

		<div data-palladio-timeline-filter
			data-dimension="dateDim"
			data-group-accessor="groupAccessor"
			data-xfilter="xfilter"
			data-type="date"
			data-short="shortVersion"
			data-title="{{title}}"
			data-height="200"
			data-mode="{{mode}}"
			data-count-by="{{countBy}} "
			data-aggregation-type="{{aggregationType}}"
			data-aggregate-key="{{aggregateKey}}"
			data-set-filter="setFilter"
			data-get-filter="getFilter"
			data-extent-override="extentOverride" >
		</div>

		<div class="well well-expand" ng-show="!dateProp">Select a Date dimension on the right</div>

	</div>

	<div class="col-lg-3">

		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right ">
				<label class="inline">Description</label>
			</div>
			<div class="col-lg-8 col-md-8 col-md-8 col-xs-8 col-condensed">
				<input type="text" class="form-control" data-ng-model="title" placeholder="Untitled"></input>
			</div>
		</div>

		<div class="row margin-top">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right ">
				<label class="inline">Dates</label>
			</div>
			<div class="col-lg-8 col-md-8 col-md-8 col-xs-8 col-condensed">
				<span class="btn btn-default btn-modal" ng-click="showDateModal()">
					{{dateProp.description || "Choose"}}
					<span class="caret"></span>
				</span>
			</div>
		</div>

		<div class="row margin-top">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right ">
				<label class="inline">Height</label>
			</div>
			<div class="col-lg-8 col-md-8 col-md-8 col-xs-8 col-condensed">
				<span class="btn btn-default btn-modal" ng-click="showAggModal()">
					{{getAggDescription(aggDim) || "Choose"}}
					<span class="caret"></span>
				</span>
			</div>
		</div>

		<div class="row margin-top">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right ">
				<label class="inline">Group by</label>
			</div>
			<div class="col-lg-8 col-md-8 col-md-8 col-xs-8 col-condensed">
				<span class="btn btn-default btn-modal" ng-click="showGroupModal()">
					{{groupProp.description || "Choose"}}
					<span class="caret"></span>
				</span>
			</div>
		</div>

		<div class="row margin-top">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right ">
			</div>
			<div class="col-lg-8 col-md-8 col-md-8 col-xs-8 col-condensed">
				<a class="btn btn-danger" data-ng-click="$parent.removeFilter($event)">Remove</a>
			</div>
		</div>

	</div>

</div>

<div id="{{uniqueModalId}}">
	<div id="date-modal" data-modal dimensions="dateDims" model="dateProp"></div>
	<div id="group-modal" data-modal dimensions="groupDims" model="groupProp"></div>
	<div id="agg-modal" data-modal dimensions="aggDims" model="aggDim"
		description-accessor="getAggDescription"></div>
</div>


<!--<div class="row-fluid">
	<div class="span3">
		<div class="accordion-heading row-fluid">
			<a class="span1 text-center angle" data-toggle="collapse"
				data-ng-click="collapse=!collapse" data-ng-init="collapse=false"
				data-parent="#filters" href="{{uniqueToggleHref}}" target="_self">

				<span data-ng-show="!collapse"><i class="fa fa-angle-down"></i></span>
				<span data-ng-show="collapse"><i class="fa fa-angle-right"></i></span>
			</a>
			<input type="text" class="editable span11" data-ng-model="title"></input>
		</div>
		<div class="settings-panel accordion-body" ng-show="!collapse && !shortVersion">
			<div class="setting row-fluid">
				<label class="span4 inline">Dates</label>
				<span class="field span8" ng-click="showDateModal()">
					{{dateProp.description || "Choose..."}}
					<i class="fa fa-bars pull-right"></i>
				</span>
			</div>
			<div class="setting row-fluid" data-ng-show="!shortVersion">
				<label class="span4 inline">Group by</label>
				<span class="field span8" ng-click="showGroupModal()">
					{{groupProp.description || "Choose..."}}
					<i class="fa fa-bars pull-right"></i>
				</span>
			</div>
			<div class="setting row-fluid" data-ng-show="!shortVersion">
				<label class="span4 inline">Height shows</label>
				<span class="field span8" ng-click="showAggModal()">
					{{getAggDescription(aggDim) || "Choose..."}}
					<i class="fa fa-bars pull-right"></i>
				</span>
			</div>
			<div class="setting row-fluid" data-ng-show="!shortVersion">
				<span class="span4"></span>
				<span class="">
					<a class="" data-ng-click="zoomToFilter()">Zoom to filter</a>
				</span>
			</div>
		</div>
	</div>

	<div class="span9">
		<div id="{{uniqueToggleId}}" class="row-fluid accordion-body collapse in component">
			<div class="span12 view">
				<a class="toggle" class="close"></a>
				<div data-palladio-timeline-filter
					data-dimension="dateDim"
					data-group-accessor="groupAccessor"
					data-xfilter="xfilter"
					data-type="date"
					data-short="shortVersion"
					data-title="{{title}}"
					data-height="200"
					data-mode="{{mode}}"
					data-count-by="{{countBy}} "
					data-aggregation-type="{{aggregationType}}"
					data-aggregate-key="{{aggregateKey}}"
					data-set-filter="setFilter"
					data-get-filter="getFilter"
					data-extent-override="extentOverride" >
				</div>
			</div>
		</div>
		<div id="{{uniqueModalId}}">
			<div id="date-modal" data-modal dimensions="dateDims" model="dateProp"></div>
			<div id="group-modal" data-modal dimensions="groupDims" model="groupProp"></div>
			<div id="agg-modal" data-modal dimensions="aggDims" model="aggDim"
				description-accessor="getAggDescription"></div>
		</div>
	</div>

	<a class="remove fa fa-trash-o" data-ng-click="$parent.removeFilter($event)"
		data-toggle="tooltip" data-title="Delete"></a>
	<a class="reset fa fa-eraser" style="line-height:40px" data-ng-click="filterReset()"
		data-toggle="tooltip" data-title="Clear"></a>
	<a data-ng-show="!shortVersion && !collapse" class="short fa fa-compress" style="line-height:40px"
		data-ng-click="shortVersion = !shortVersion" data-toggle="tooltip"
		data-title="Compress"></a>
	<a data-ng-show="shortVersion && !collapse" class="short fa fa-expand" style="line-height:40px"
		data-ng-click="shortVersion = !shortVersion" data-toggle="tooltip"
		data-title="Expand"></a>

</div>
-->
