<div class="view">
	<a class="toggle" data-toggle="tooltip" data-original-title="Settings" data-placement="bottom">
		<i class="fa fa-cog"></i>
	</a>
	<div data-palladio-graph-view 
		style="margin-bottom: -100px"
		link-dimension="linkDimension"
		show-links="showLinks"
		show-labels="showLabels"
		search-text="searchText"
		highlight-source="highlightSource"
		highlight-target="highlightTarget"
		read-internal-state="readInternalState"
		set-internal-state="setInternalState"
		node-size="nodeSize"
		data-aggregation-type="{{aggregationType}}"
		data-aggregate-key="{{aggregateKey}}"
		count-by="{{countBy}}"
		count-description="{{aggDescription}}">

<!-- Zoom -->
		<div class="leaflet-top leaflet-left">
			<div class="leaflet-control-zoom leaflet-bar leaflet-control">
				<a class="leaflet-control-zoom-in" ng-click="zoomIn()" title="Zoom in">+</a>
				<a class="leaflet-control-zoom-out" ng-click="zoomOut()" title="Zoom out">-</a>
			</div>
		</div>

	</div>
</div> 

<!-- Message -->
<div class="message" data-ng-show="!linkDimension">
	Please select a Source and a Target dimension</br>from the Settings panel
</div>

<!-- Settings -->
<div class="span4 settings open"> 
	<p class="super tiny">Graph Settings</p>

	<div class="row-fluid">
		<div class="span6">
			<div class="setting span12">
				<label>Source</label>
				<span class="field" ng-click="showSourceModal()">
					{{mapping.sourceDimension.description || "Choose..."}}
					<i class="fa fa-bars pull-right"></i>
				</span>
				<label class="checkbox" ng-class="{muted:!mapping.sourceDimension}">
					<input type="checkbox" name="color-node" value="source" 
							ng-model="highlightSource"
							data-ng-disabled="!mapping.sourceDimension">Highlight</input>
				</label>
			</div>
		</div>

		<div class="span6">
			<div class="setting span12">
				<label>Target</label>
				<span class="field" ng-click="showTargetModal()">
					{{mapping.targetDimension.description || "Choose..."}}
					<i class="fa fa-bars pull-right"></i>
				</span>
				<label class="checkbox" ng-class="{muted:!mapping.targetDimension}">
					<input type="checkbox" name="color-node" value="target" 
						ng-model="highlightTarget" 
						data-ng-disabled="!mapping.targetDimension">Highlight</input>
				</label>
			</div>
		</div>
	</div>

	<div class="space"></div>

	<div class="row-fluid">
		<div class="span6">
			<div class="setting">
				<label class="checkbox">
					<input type="checkbox" ng-model="nodeSize"> Size nodes
				</label>
			</div>

			<div class="setting" data-ng-show="nodeSize">
				<label class="">Node size corresponds to</label>
				<span class="field" ng-click="showAggModal()">
						{{getAggDescription(aggDim) || "Choose..."}}
					<i class="fa fa-bars pull-right"></i>
				</span>
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="space"></div>
		<div class="setting">
			<label class="checkbox">
				<input type="checkbox" ng-model="showLinks"> Show links
			</label>
		</div>

		<div class="setting">
			<label class="checkbox">
				<input type="checkbox" ng-model="showLabels"> Show labels
			</label>
		</div>

		<div class="space"></div>

		<div class="setting">
			<a ng-click="resetNodes()">
				<i class="fa fa-arrows-alt margin-right"></i> Reset node position
			</a>
		</div>
		<br />

		<div class="setting">
			<a ng-click="exportSvg(this, 'Palladio Graph.svg')">
				<i class="fa fa-arrow-circle-down margin-right"></i> Export graph as .svg
			</a>
		</div>
	</div>
</div>
<!--Modal-->
<div id="{{uniqueModalId}}">
	<div id="source-modal" data-modal dimensions="fields" model="mapping.sourceDimension"></div>
	<div id="target-modal" data-modal dimensions="fields" model="mapping.targetDimension"></div>
	<div id="agg-modal" data-modal dimensions="aggDims" model="aggDim" 
		description-accessor="getAggDescription"></div>
</div>