<article class="tile" itemscope itemtype="http://schema.org/Article">
  <a href="{{ site.url }}{{ category }}" title="{{ category }}" class="post-teaser">{% if post.image.teaser %}<img src="{{ site.url }}/images/{{ post.image.teaser }}" alt="teaser" itemprop="image">
    {% else %}<img src="{{ site.url }}/images/{{ site.teaser }}" alt="teaser" itemprop="image">{% endif %}</a>
    
  <h2 class="post-title" itemprop="name"><a href="{{ site.url }}{{ category }}">{{ category }}</a></h2>
  <p class="post-excerpt" itemprop="description">{{ category.description | strip_html | truncate: 160 }}</p>
</article><!-- /.tile -->
