<div class="row-fluid">
	<div class="span3">
		<div class="accordion-heading row-fluid">
			<a class="span1 text-center angle" data-toggle="collapse" data-ng-click="collapse=!collapse" data-ng-init="collapse=false" data-parent="#filters" href="{{uniqueToggleHref}}" target="_self">
				<span data-ng-show="!collapse"><i class="fa fa-angle-down"></i></span>
				<span data-ng-show="collapse"><i class="fa fa-angle-right"></i></span>
			</a>
			<input type="text" class="editable span11" data-ng-model="title"></input>
		</div>
		<div class="settings-panel accordion-body" ng-show="!collapse">
			<div class="setting row-fluid">
				<label class="span4 inline">Start Date</label>
				<span class="field span8" ng-click="showDateStartModal()">{{dateStartDim.description || "Choose..."}}<i class="fa fa-bars pull-right"></i></span>
			</div>

			<div class="setting row-fluid">
				<label class="span4 inline">End Date</label>
				<span class="field span8" ng-click="showDateEndModal()">{{dateEndDim.description || "Choose..."}}<i class="fa fa-bars pull-right"></i></span>
			</div>
		</div>
	</div>

	<div class="span9 main-viz">
		<div id="{{uniqueToggleId}}" class="row-fluid accordion-body collapse in component"></div>
		<div id="{{uniqueModalId}}">
			<div id="date-start-modal" data-modal dimensions="dateDims" model="dateStartDim"></div>
			<div id="date-end-modal" data-modal dimensions="dateDims" model="dateEndDim"></div>
		</div>
	</div>

	<a class="remove fa fa-trash-o" data-ng-click="removeFilter($event)" data-toggle="tooltip" data-title="Delete"></a>
	<a class="reset fa fa-eraser" style="line-height:40px" data-ng-click="filterReset()" data-toggle="tooltip" data-title="Clear"></a>
</div>