[data-palladio-partime-filter] path {
	fill: #dddddd;
}

[data-palladio-partime-filter] .axis path, [data-palladio-partime-filter] .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

[data-palladio-partime-filter] .axis text {
	font-size: 10px;
}
