[data-palladio-table-view] {
	width: 100%;
	padding-top: 5px;
}

[data-palladio-table-view] table {
	font-size: 12px;
}

[data-palladio-table-view] td {
}

[data-palladio-table-view] {
	overflow: auto;
}
