<!-- View -->
<div class="view">
	<a class="toggle" data-toggle="tooltip" data-original-title="Settings" data-placement="bottom">
		<i class="fa fa-cog"></i>
	</a>
	<div data-palladio-table-view 
		style="margin-bottom: -55px"
		dimension="countDim" 
		dimensions="tableDimensions"
		xfilter="xfilter"
		export-func="exportCsv">
	</div>
</div> 

<!-- Message -->
<div class="message" data-ng-show="!countDim">
	Please select a Row dimension and any display dimensions</br>you would like to see from the Settings panel
</div>

<!-- Settings -->
<div class="span4 settings"> 
	<div class="row-fluid">
		<div class="setting">
			<label class="">Row dimension</label>
			<span class="field" ng-click="showCountModal()">
				{{countDim.description || "Choose..."}}
				<i class="fa fa-bars pull-right"></i>
			</span>
			<span class="muted" style="font-size: 11px; font-weight: 300">
				At least one row per value in this dimension. Multiple values will be displayed as lists in each cell.
			</span>
		</div>

		<br />

		<div class="setting"> 
			<label>Dimensions</label> 
			<span class="field" ng-click="showModal()">
				{{fieldDescriptions() || "Choose..."}}
				<i class="fa fa-bars pull-right"></i>
			</span>
		</div>

		<br />

		<div class="setting">
			<a ng-click="exportCsv()">
				<i class="fa fa-arrow-circle-down margin-right"></i> Export table as .csv
			</a>
		</div>

	</div>
</div>
<!--Modal-->
<div id="{{uniqueModalId}}">
	<div id="table-modal" data-modal dimensions="fields" model="tableDimensions" sortable="true"></div>
	<div id="count-modal" data-modal dimensions="countDims" model="countDim" description-accessor="getCountDescription"></div>
</div>