<div class="">

		<div data-ng-show="countDim"
			data-palladio-table-view
			dimension="countDim"
			table-height="tableHeight"
			dimensions="tableDimensions"
			xfilter="xfilter"
			export-func="exportCsv">
		</div>

</div>

<!-- Settings -->
<div class="row" data-ng-show="showSettings || showSettings === undefined">

    <div class="settings col-lg-4 col-lg-offset-8 col-md-6 col-md-offset-6">
      <div class="panel panel-default">

        <a class="settings-toggle" data-toggle="tooltip" data-original-title="Settings" data-placement="bottom">
          <i class="fa fa-bars"></i>
        </a>

        <div class="panel-body">

          <div class="row">
            <div class="col-lg-12">
              <label>Settings</label>
            </div>
          </div>

          <div class="row margin-top">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
              <label class="inline">Row dimension</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-condensed">
              <span class="btn btn-default" ng-click="showCountModal()">
                  {{countDim.description || "Choose"}}
                  <span class="caret"></span>
              </span>
							<p class="help-block">At least one row per value in this dimension. Multiple values will be displayed as lists in each cell.</p>

            </div>
          </div>

          <div class="row margin-top">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
              <label class="inline">Dimensions</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-condensed">
							<span class="btn btn-default" ng-click="showModal()">
                  {{fieldDescriptions() || "Choose"}}
                  <span class="caret"></span>
              </span>
            </div>
          </div>

					<div class="row margin-top">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-condensed">

              <a class="pull-right"
							tooltip="Download data (csv)"
							tooltip-animation="false"
							tooltip-append-to-body="true"
							ng-click="exportCsv()">
								<i class="fa fa-download margin-right"></i>Download
							</a>

            </div>
          </div>


        </div>
      </div>
    </div>

</div>

<div id="{{uniqueModalId}}" data-ng-show="showSettings || showSettings === undefined">
	<div id="table-modal" data-modal description="Choose data dimensions" dimensions="fields" model="tableDimensions" sortable="true"></div>
	<div id="count-modal" data-modal description="Choose key dimension (one row for each value of this dimension)" dimensions="countDims" model="countDim" description-accessor="getCountDescription"></div>
</div>
