[data-palladio-palette] .palette-new-dimension-button {
	width: 100%;
	margin-top: 10px;
	display: inline-block;
	text-align: center;
}

[data-palladio-palette] .dimension-pill {
  background-color: #fafafa;
  width: 135px;
}

[data-palladio-palette] .palette-property-list .dimension-pill {
  background-color: #eee;
  width: 135px;
}

[data-palladio-palette] .palette-property-list {
  list-style: none;
  margin-left: 15px;
}

[data-palladio-palette] .palette-dimension {
  background-color: #fafafa;
  display: inline-block;
  padding: 2px 5px;
  margin: 2px;
  margin-left: 5px;
  border-radius: 2px;
}