[data-palladio-timechart-view] svg {
  shape-rendering: crispEdges;
}

[data-palladio-timechart-view] .context rect {
    shape-rendering: crispEdges;

}
[data-palladio-timechart-view] svg text {
  alignment-baseline: middle;
  font: 10px "Lato", sans-serif; 
}
 
[data-palladio-timechart-view] .groupText {
  alignment-baseline: middle;
  font: 11px "Lato", sans-serif;  
}
 
[data-palladio-timechart-view] .month text {
  text-anchor: start;
}
 
[data-palladio-timechart-view] .todayLine {
  stroke: blue;
  stroke-width: 1.5;
}
 
[data-palladio-timechart-view] .axis line, .axis path {
  stroke: black;
}
 
[data-palladio-timechart-view] .contextItem {
  stroke: #ffffff;
  fill: #cccccc;
  stroke-width: 1;
}
 
[data-palladio-timechart-view] .future {
  stroke: gray;
  fill: #ddd;
}
 
[data-palladio-timechart-view] .focusItem {
  stroke: #aaaaaa;
  fill: #dddddd;
}
 
[data-palladio-timechart-view] .brush .extent {
  stroke: gray;
  fill: #888;
  fill-opacity: .165;
  shape-rendering: crispEdges;
}