[data-palladio-duration-view] path {
	fill: #dddddd;
}

[data-palladio-duration-view] .axis path, [data-palladio-duration-view] .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

[data-palladio-duration-view] .axis text {
	font: 10px Merriweather, Helvetica, Arial, sans-serif;
}
