[data-palladio-facet-filter] .selection-title {
	text-transform: uppercase;
	margin-top: 7px;
	margin-bottom: 7px;
	margin-right: 5px;
	display: inline-block;
}

[data-palladio-facet-filter] .selection-display {
	list-style-type: none;
	display: inline-block;
	margin-left: 0px;
}

[data-palladio-facet-filter] .selection-pill {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 2px;
	background-color: lightgray;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
}

[data-palladio-facet-filter] .selection-pill i {
	margin-left: 7px;
}

[data-palladio-facet-filter] .selection-label {
	font-weight: bold;
}

[data-palladio-facet-filter] .facet-container {
	overflow-x: auto;
	overflow-y: hidden;
}

[data-palladio-facet-filter] .inner-facet-container {
	display: inline-block;
}

[data-palladio-facet-filter] .mid-facet-container {
	display: inline-block;
}

[data-palladio-facet-filter] .facet {
	font-size: 12px;
	display: inline-block;
	width: 215px;
	margin-right: 10px;
	vertical-align: top;
	overflow-y: auto;
}

[data-palladio-facet-filter] .facet-container {
	display: inline-block;
}

[data-palladio-facet-filter] .facet-drop-area {
	float: right;
	font-size: 12px;
	width: 100px;
	height: 100px;
	margin-left: 50px;
	margin-right: 50px;
	border-style: dotted;
	border-width: 1px;
	border-color: gray;
	border-radius: 10px;
	background-color: #dddddd;
}

[data-palladio-facet-filter] div.active-drag {
	background-color: #bbbbbb;
}

[data-palladio-facet-filter] div.over-drop {
	background-color: #7DC8E4;
}

[data-palladio-facet-filter] .facet-drop-area-text {
	padding: 5px;
	margin-top: 15px;
	text-align: center;
}

[data-palladio-facet-filter] .facet-header {
	font-size: 12px;
	width: 200px;
	padding: 6px 0px;
	overflow-x: auto;
}

[data-palladio-facet-filter] .cell {
	display: block;
	width: 200px;
	margin-bottom: 2px;
	background-color: #dddddd;
	font-size: 12px;
	padding: 0px 0px;
	cursor: pointer;
}

[data-palladio-facet-filter] .cell:hover {
	background-color: #bbbbbb;
}

[data-palladio-facet-filter] .filter-value {
	background-color: #7DC8E4;
}

[data-palladio-facet-filter] .cell:last-of-type {
	margin-bottom: 0px;
}

[data-palladio-facet-filter] .cell-text {
	clear: left;
	display: inline-block;
	margin-left: 4px;
	max-width: 150px;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 1.7;
}

[data-palladio-facet-filter] .cell-value {
	float: right;
	margin-right: 4px;
	line-height: 1.7;
}

[data-palladio-facet-filter] .mode-buttons {
	float: right;
}

[data-palladio-facet-filter] .btn-mini {
	color: #666;
	font-size: 12px;
	margin-left: 3px;
}
