<div class="row" ng-show="collapse" ng-init="collapse=false">
	<div class="col-lg-12">
		{{title}}<span class="text-muted margin-left small">Facet</span>
		<a class="btn btn-default btn-xs pull-right"
			tooltip-animation="false"
			tooltip-append-to-body="true"
			tooltip-placement="left"
			tooltip="Expand"
			ng-click="collapse=false">
			<i class="fa fa-chevron-up"></i>
		</a>
	</div>
</div>

<div class="row" ng-show="!collapse">

	<div ng-class="{'col-lg-9': showSettings, 'col-md-8': showSettings, 'col-lg-12': !showSettings, 'col-md-12': !showSettings}">

		<div class="facet-container" style="height: {{calcHeight}}">
			<div class="mid-facet-container" style="height: {{calcHeight}};">
				<div class="inner-facet-container" style="height: {{calcHeight}};"></div>
				<div ng-show="showDropArea === 'true'" palladio-droppable model="dropModel" class="facet-drop-area" style="margin-top: {{dropMarginTop}};">
					<div class="facet-drop-area-text">
						Drop dimensions here
					</div>
				</div>
			</div>
		</div>

		<div class="well well-expand" ng-show="!fieldDescriptions() && showSettings === 'true'">Select at least one dimension on the right</div>
		<div class="well well-expand" ng-show="!fieldDescriptions() && showSettings !== 'true'">No dimensions configured for facet display</div>

	</div>

	<div ng-show="showSettings" class="col-lg-3 col-md-4">

		<div class="row" data-ng-show="showAccordion">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right ">
				<label class="inline text-muted">Facet</label>
			</div>
			<div class="col-lg-8 col-md-8 col-md-8 col-xs-8 col-condensed">
				<a class="btn btn-default btn-xs pull-right"
					tooltip-animation="false"
					tooltip-append-to-body="true"
					tooltip-placement="left"
					tooltip="Collapse"
					ng-click="collapse=true">
					<i class="fa fa-chevron-down"></i>
				</a>
			</div>
		</div>

		<div class="row margin-top">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right ">
				<label class="inline">Description</label>
			</div>
			<div class="col-lg-8 col-md-8 col-md-8 col-xs-8 col-condensed">
				<input type="text" class="form-control" data-ng-model="title" placeholder="Untitled"></input>
			</div>
		</div>

		<div class="row margin-top">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right ">
				<label class="inline">Dimensions</label>
			</div>
			<div class="col-lg-8 col-md-8 col-md-8 col-xs-8 col-condensed">
				<span class="btn btn-default btn-modal" ng-click="showModal()">
					{{fieldDescriptions() || "Choose"}}
					<span class="caret"></span>
				</span>
			</div>
		</div>

		<div class="row margin-top">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right ">
				<label class="inline">Count</label>
			</div>
			<div class="col-lg-8 col-md-8 col-md-8 col-xs-8 col-condensed">
				<span class="btn btn-default btn-modal" ng-click="showAggModal()">
					{{getAggDescription(aggDim) || "Choose"}}
					<span class="caret"></span>
				</span>
			</div>
		</div>

		<div class="row margin-top">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right ">
			</div>
			<div class="col-lg-8 col-md-8 col-md-8 col-xs-8 col-condensed">

				<a class="small" 
					data-ng-show="showControls === true"
					data-ng-click="filterReset()">Clear</a>

				<a class="text-danger pull-right"
					data-ng-show="showControls === true"
				 	tooltip-animation="false"
				 	tooltip-append-to-body="true"
					tooltip-placement="left"
					tooltip="Delete filter"
				 	data-ng-click="$parent.removeFilter($event)">
					<i class="fa fa-trash-o"></i>
				</a>
			</div>
		</div>


	</div>

</div>

<div id="{{uniqueModalId}}">
	<div id="facet-modal" data-description="Choose facet dimensions" data-modal toggle-key="addKey" dimensions="fields" model="dims" sortable="false"></div>
	<div id="facet-agg-modal" data-description="Choose count dimensions" data-modal dimensions="aggDims" model="aggDim" description-accessor="getAggDescription"></div>
</div>
