<div class="row-fluid">
	<div class="span3" data-ng-show="showSettings === 'true'">
		<div ng-show="showAccordion === 'true'" class="accordion-heading row-fluid">
			<a class="span1 text-center angle" data-toggle="collapse" data-ng-click="collapse=!collapse" data-ng-init="collapse=false" data-parent="#filters" href="{{uniqueToggleHref}}" target="_self">
				<span data-ng-show="!collapse"><i class="fa fa-angle-down"></i></span>
				<span data-ng-show="collapse"><i class="fa fa-angle-right"></i></span>
			</a>
			<input type="text" class="editable span11" data-ng-model="title"></input>
		</div>
		<div class="settings-panel accordion-body" ng-show="!collapse"> 

			<div class="setting row-fluid" data-ng-show="showDimensions === 'true'">
				<label class="span4 inline">Dimensions</label> 
			</div>

			<div class="setting row-fluid" data-ng-show="showDimensions === 'true'">
				<span class="span2">&nbsp;</span>
				<span class="span10">
					<span data-ng-repeat="field in fields" palladio-dimension model="field" check-func="check"></span>
				</span>
			</div>

			<br />

			<div class="setting">
				<label class="span4 inline">Count</label>
				<span class="field span8" ng-click="showAggModal()">
						{{getAggDescription(aggDim) || "Choose..."}}
					<i class="fa fa-bars pull-right"></i>
				</span>
			</div>

			<div class="setting"> 
				<label class="span4 inline">Dimensions</label> 
				<span class="field span8" ng-click="showModal()">
					{{fieldDescriptions() || "Choose..."}}
					<i class="fa fa-bars pull-right"></i>
				</span>
			</div>
		</div>
	</div>
							
	<div class="span9">
		<!-- View -->
		<div id="{{uniqueToggleId}}" class="row-fluid accordion-body collapse in component">
			<div class="span12 view">
				<div class="facet-container" style="height: {{calcHeight}}; margin-bottom: 5px">
					<div class="mid-facet-container" style="height: {{calcHeight}};">
						<div class="inner-facet-container" style="height: {{calcHeight}};"></div>
						<div ng-show="showDropArea === 'true'" palladio-droppable model="dropModel" class="facet-drop-area" style="margin-top: {{dropMarginTop}};">
							<div class="facet-drop-area-text">
								Drop dimensions here
							</div>
						</div>
					</div>
				</div>
				<a class="toggle" class="close"></a>
			</div>
		</div>
		<!--Modal-->
		<div id="{{uniqueModalId}}">
			<div id="facet-modal" data-modal dimensions="fields" model="dims" sortable="false"></div>
			<div id="facet-agg-modal" data-modal dimensions="aggDims" model="aggDim" description-accessor="getAggDescription"></div>
		</div>
	</div>

	<a data-ng-show="showControls === 'true'" class="remove fa fa-trash-o" data-ng-click="$parent.removeFilter($event)" data-toggle="tooltip" data-title="Delete"></a>
	<a data-ng-show="showControls === 'true'" class="reset fa fa-eraser" style="line-height:40px" data-ng-click="filterReset()" data-toggle="tooltip" data-title="Clear"></a>
</div>